<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>AK-47 武器箱 - CS:GO 开箱，炫酷皮肤 </title>

    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="jM7iaAxQt6-5Lpx9nQXnxU9GjSQxa2B_W5QY8abSOmTh9touViqB6PtfwyfoM7b2fS-1CXoDPzxr7k6Q1rAOEQ==">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width">
    <meta name="application-name" content="boxgo.cc">
    <meta name="apple-mobile-web-app-title" content="boxgo.cc">
    <meta name="theme-color" content="#161223">
    <meta name="msapplication-TileColor" content="#161223">
   <!-- <link rel="manifest" href="//cdn.skin.club/site.webmanifest">-->
    <link rel="canonical" href="">
    <meta property="og:title" content="AK-47 武器箱 - CS:GO 开箱，炫酷皮肤 | boxgo.cc">
    <!--<meta property="og:image" content="//cdn.skin.club/favicon/og-image.jpg">-->
    <meta property="og:image:height" content="262">
    <meta property="og:image:width" content="500">
    <meta property="og:type" content="website">

    <meta name="description" content="TIME TO OPEN CASES 💣. Buy AK-47 武器箱 and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
    <meta name="og:description" content="boxgo.cc is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
    <link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet">
    <!-- Unitpay -->
    <meta name="verification" content="ce916a6c3a313e568546f66654ee5e">
    <script src="./statics/js/qrcode.js"></script>
    <script>
        var viewData = {"viewnSuffix":"340x250.png",
    "addedItemImgSuffix":"160x108.png",
    "upgradableDrops":[],
    "itemsForUpgrade":{
        "count":3450,
        "data":[]},
    "soundsType":"music",
    "aliases":{"web":"\/","cdn":"\/\/cdn.skin.club\/"},
    "flash":[],
    "general":{"language":{"current":"zh-CN","default":"en"},
    "user":[{}]}};
    </script>
<style>
    #pay_qrcode{
            text-align: center;
            margin-top: 20px;
            text-align: -webkit-center;
        }
    
</style>
</head>

<body class="main-page" onload="bodyLoad()">

    <!--<script>var viewData = {"caseId":16,"casePrice":299,"caseType":"usual","isFeastCase":null,"itemsFolderPath":"\/\/cdn.skin.club\/items\/","winItemImgSuffix":null,"roughItems":null,"colorClasses":null,"caseName":null,"rouletteImgSuffix":null,"soundsType":null,"aliases":{"web":"\/","cdn":"\/\/cdn.skin.club\/"},"flash":[],"general":{"language":{"current":"zh-CN","default":"en"},"user":[],"wsPath":"wss:\/\/ws.skin.club:7030"}};</script>-->
    <div class="modal__payment modal" id="replenish-popup" style="position: absolute;max-width: 540px;">
        <a href="javascript:void(0);" class="close-modal close" rel="modal:close" onclick="document.getElementById('replenish-popup').style.display='none';"></a>
        <h2 class="modal__title">充值</h2>
        <form action="/pay" target="_blank" class="payment__form">
            <div class="payment__form-change_system">
                <div class="system_g2a active" data-action="/payment/g2apay">
                    <img src="statics/image/alipay_logo.png" alt="支付宝" style="width: 270px;height: 80px">
                </div>
                <div class="system_unitpay" data-action="/payment/unitpay">
                    <img src="statics/image/wxpay.jpg" alt="微信支付" style="width: 270px;height: 80px">
                    <!--<img src="//cdn.skin.club/img/layout/mastercard.svg" alt="Mastercard payment">-->
                    <!--<div class="change_system-tooltip">
                        <i class="icon icon-question-replenish"></i>
                        <span class="text">如果您在通过G2A付款时遇到麻烦，请选择它                            </span>
                    </div>-->
                </div>
            </div>
            <div class="input__wrap">
                <div class="input-text__txt">金额</div>
                <span class="input__currency">$</span>
                <input class="input__input" id="payment__input" type="number" min="0" max="10000" maxlength="5" value="10" name="amount" required>
                <div class="input__bouns-wrapper">
                    <div class="input__bonus">
                        <span id="bonus_input">..</span>
                        <span>奖金</span>
                    </div>
                    <div class="input__inform" id="inform">
                        <div class="drop-down">
                            <div class="bonus-row title">奖金</div>
                            <div class="bonus-row">
                                <div class="price">$10-100</div>
                                <div class="percent">+1%</div>
                            </div>
                            <div class="bonus-row">
                                <div class="price">$100-250</div>
                                <div class="percent">+2.5%</div>
                            </div>
                            <div class="bonus-row">
                                <div class="price">$250-500</div>
                                <div class="percent">+4%</div>
                            </div>
                            <div class="bonus-row">
                                <div class="price">$500+</div>
                                <div class="percent">+5%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment__bonus-text-wrap" style="display: none;">
                <p class="payment__bonus-text"><i class="icon icon-promocode"></i><span></span></p>
            </div>
        </form>
        <button class="but__txt refill-btn"  id="pay">
            充值                    <i class="icon icon-money"></i>
        </button>
        <div id='pay_qrcode' >

        </div>
        <p class="timeWait">付款会立即处理，<br>但最多可能会延迟 10 分钟            </p>
        <div class="modal__promo">
            <p class="modal__promo_title">
                <i class="icon icon-promocode"></i>使用促销码
            </p>
            <form action="/promocode/activate" method="post" class="modal__promo_form">
                <div class="input_wrap">
                    <input class="modal__promo_input" placeholder="输入促销码" name="code" required="">
                </div>
                <button type="submit" class="modal__promo_sumbit modal__promo_sumbit-popup">现在申请                    </button>
            </form>
        </div>
    </div>
    <div id="wrapper">
        
        <header id="header">
            <div class="live-drops-wrapper" id="live-drops-wrapper">
                
                <div class="first-block">
                    <a href="./index.html" class="header-logo header-logo-mobile">
                        <img class="header-logo__icon" src="statics/picture/logo-icon.svg" alt="">
                    </a>

                    <div class="hype-drop">
                        <div class="hype-drop-wrapper" v-if='bestRecord' :data-id="bestRecord.arms.id">
                            <div class="hype-drop__text">
                                <p class="hype-drop__profit">+ ￥{{bestRecord.arms.price}}</p>
                                <!-- <div class="hype-drop__tagline" v-if="bestRecord.weaBoxRate>5">牛逼</div> -->
                                <div class="hype-drop__tagline" v-else>太好了</div>
                            </div>
                            <div class="hype-drop__hover-block">
                                <a :href="generateLink(bestRecord.players.id,bestRecord.box.id,bestRecord.arms.id)" :class="generateBestDropClass(bestRecord.arms.colorId)">
                                    <img :src="bestRecord.arms.imageUrl" alt="">
                                </a>
                                <div class="hype-drop-info">
                                    <div class="hype-drop-info__user">
                                        <div class="user-avatar-wrap hype-drop-avatar">
                                            <a :href="generateLink(bestRecord.players.id,bestRecord.box.id,bestRecord.arms.id)" class="user-avatar ava-size-s">
                                            <span class="user-avatar__img-wrap">
                                                <span class="user-avatar__img-second-wrap">
                                                    <img :src="bestRecord.players.image" alt="">
                                                </span>
                                            </span>
                                            </a>
                                        </div>
                                        <p class="hype-drop-info__user-name ell">{{bestRecord.players.name}}</p>
                                    </div>
                                    <div class="hype-drop-info__case">

                                        <img :src="bestRecord.box.image" alt="">
                                        <a :href="generateBoxUrl(bestRecord.box.id)" class="button button-special">仔细检查                        </a>

                                        <!--<% if(drop.type === 'upgrade') { %>
                                        <i class="icon icon-upgrade"></i>
                                        <a href="/zh-cn/upgrade" class="button button-special">
                                            仔细检查                        </a>
                                        <% } %>-->

                                        <p class="text-2 ell">{{bestRecord.arms.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-block">
                    <div class="live-drop-switch">
                        <div class="live-drop-switch__all" @click='all()'>全部</div>
                        <div class="live-drop-switch__best" @click='best()'>最佳</div>
                    </div>

                    <div class="live-drop" style="position: relative;width: 100%;">
                        <div v-for="item in openBoxRecord" :class="generate(item.arms.type)" :data-id="item.arms.id" style="position: absolute;top: 10px;z-index: 1000;">
                            <a :href="generateLink(item.players.id,item.box.id,item.arms.id)" class="live-item__img">
                                <img :src="item.arms.imageUrl" alt="">
                            </a>
                            <!--<div class="live-item__paid-off"></div>-->

                            <div class="live-item-info">

                                <div class="live-item-info__img" v-if="item.box.id==1">
                                    <img src="./statics/image/main-banner-logo.png" alt="" style="width: 105px;padding-top: 30px;">
                                </div>

                                <div class="live-item-info__img" >
                                    <img :src="item.box.image" alt="">
                                </div>

                                <div class="user-avatar-wrap live-drop-avatar">
                                    <a :href="generateLink(item.players.id,item.box.id,item.arms.id)" class="user-avatar ava-size-s">
                                    <span class="user-avatar__img-wrap">
                                        <span class="user-avatar__img-second-wrap">
                                            <img :src="item.players.image" alt="">
                                        </span>
                                    </span>
                                    </a>
                                </div>
                                <div class="live-item-info__name-1 ell">{{item.arms.name}}</div>
                                <!-- <div class="live-item-info__name-2 ell">{{item.arms.weaType}}</div> -->
                                <p class="live-item-info__price">￥{{item.arms.price}}</p>
                                <div class="live-item-info__button-wrap">

                                    <a href="youparty.html" class="button button-special" v-if="item.box.catId==1">
                                        查看                </a>

                                    <a :href="generateBoxUrl(item.box.id)" class="button button-special" v-else>
                                        查看                </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-wrapper">
                <div class="mobile-menu-overlay"></div>
                <div class="sound-lang-wrapper">
                    <div class="header-language">
                        <div class="current-language">
                            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
                        </div>

                    </div>
                </div>
                <div class="social-header mobile-social">
            
                    <a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
                    <a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
                    <a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
                    <a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
                    <!--<a href="#" target="_blank" class="social-header__telegram"></a>-->
                </div>

        <div class="menu-wrapper guest">
            <div class="close-mobile-menu"></div>
            <div class="left-block-wrap">
                <a href="./index.html" class="header-logo">
                    <img class="header-logo__icon" src="./statics/image/logo-icon.svg" alt="">                 </a>
                <nav class="main-menu">
                    <ul>
                        <li>
                            <a href="faq.html" title="常见问题">
                                <i class="icon icon-faq"></i>
                                <span>
                                    常见问题                                </span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="partners.html" title="合伙">
                                <i class="icon icon-partnership"></i>
                                <span>
                                    合伙                                </span>
                            </a>
                        </li> -->
                        <li>
                            <a href="upgrade.html" title="升级">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    升级                                </span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="csgo_youtuber.html" title="武器箱">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    武器箱                              </span>
                            </a>
                        </li>
                        <li>
                            <a href="personal.html" title="个人信息">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    个人信息                              </span>
                            </a>
                        </li> -->
                                                    <!-- <li>
                                <a href="youparty.html" title="YOUPARTY">
                                    <i class="icon icon-giveaway"></i>
                                    <span>
                                        YOUPARTY                                    </span>
                                </a>
                                <div class="label label__new">新</div>
                            </li> -->
                                                                            <li>
                                <a href="login.html" class="js-auth-link mobile-only">
                                    <i class="icon icon-steam"></i>
                                    登录                                </a>
                            </li>
                                                <li style="display: none">
                            <!-- Container for labels. For developers use -->
                            <div class="label-new">新</div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="right-block-wrap">
                <div class="sound-lang-wrapper">
                    <div class="header-language">
                        <div class="current-language">
                            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
                        </div>
                    </div>
                </div>
                <div class="header-profile-wrapper">
                    <div class="header-profile" id="login">
                            <a  href="/csgo/login.html" class="header-profile-sign-in">
                                登录方式            <br><span>Steam</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>



        <div class="count-social-wrapper">
            <div class="counter-header">
                <div class="counter-header__online">
                    <span id="online_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">在线</span>
                </div>
                <div class="counter-header__users">
                    <span id="registered_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">用户</span>
                </div>
                <div class="counter-header__opened">
                    <span id="opened_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">武器箱</span>
                </div>
                <div class="counter-header__upgraded">
                    <span id="upgraded_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">Upgrades</span>
                </div>
            </div>

            <div class="social-header">
                
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

            </div>
        </div>
    </div>

    <div class="ghost-element"></div>

    <div class="header-profile-wrapper mobile-header-profile-wrapper">
        <div class="header-profile">
            <!-- <a href="#login-popup" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn"> -->
            <a href="login.html" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">

                登录方式            <br><span>Steam</span>
            </a>
        </div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
        </div>
    </div>
</div>
        <div class="menu-btn">
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
        </div>
    </div>
</header>

<!--<div id="login-popup" class="modal login-popup-modal">
    <a href="#" rel="modal:close" class="close-modal"></a>
    <p class="login-header">
        登录    </p>
    <p class="login-header2">
        请接受条款，然后点击下面的按钮以通过 Steam 登录。    </p>
    <div class="agree-block">
        <input type="checkbox" id="terms-agree" class="agreement-checkbox">
        <label for="terms-agree">
            我同意<a href="tos.html">服务条款</a>和<a href="privacy.html">隐私政策</a>        </label>
    </div>
    <div class="agree-block">
        <input type="checkbox" id="age-agree" class="agreement-checkbox">
        <label for="age-agree">
            我已满 18 岁        </label>
    </div>
    <div class="main-button-wrapper violet">
        <a href="login" class="main-button violet-btn steam-btn js-auth-link disabled">
            <i class="icon icon-steam"></i>
            <span>使用 Steam 登录</span>
        </a>
    </div>
</div>-->
                <div id="container">
                    <div id="content">
                    <div class="breadcrumbs-wrapper">
                        <div class="breadcrumbs">
                            <a href="index.html">boxgo.cc</a>
                            <i class="icon icon-arrow-right"></i>
                            <b>{{data1.name}}</b>
                        </div>
                    </div>
                    <div class="case-wrap">
                        <h1 class="page-title">{{data1.name}} 武器箱</h1>
                        <div class="case ak-47">
                            <div class="header-sound"></div>
                            <div class="before-open need_auth">
                                <div class="case-status-img"></div>
                                <div class="case-img" :style="generate(data1.image)"></div>
                                <div class="case-price">$ <span>{{data1.price}}</span></div>
                                <div class="case-need-auth need_auth">
                                    <p class="case-text">要购买武器箱，你必须登录网站</p>
                                    <div class="main-button-wrapper violet">
                                        <a href="login.html"  class="main-button violet-btn">
                                            <i class="icon icon-steam"></i>
                                            <span> 立即登录 </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="case-need-money" style="display: none">
                                    <p class="case-need-money__attention">资金不足！</p>
                                    <p class="case-text">
                                        要打开这个武器值，请先通过以下方式充值
                                        <span class="case-text-money"></span>
                                        $
                                    </p>
                                    <div class="case-need-money__btn-wrap">
                                        <form  class="replenish-form-case">
                                            <p class="error-text">最低充值金额为 1 美元</p>
                                            <input name="amount" class="replenish-input-case" required type="number" placeholder="输入金额">
                                            <div class="main-button-wrapper violet">
                                                <div class="main-button violet-btn" style="cursor: pointer;" onclick="showDeposit(true)">
                                                    <span class="for-icon">存款</span>
                                                </div>
                                            </div>
                                        </form>
                                        <!--<div class="main-button-wrapper orange">
                                            <a class="main-button orange-btn pay-skins-btn" href="">
                                                <span class="for-icon">用皮肤支付</span>
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="case-can-open can_open" style="display: none">
                                    <div class="case-can-open__btn-wrap can_open">
                                        <div class="main-button-wrapper violet">
                                            <div class="case-can-open__open-u case_open_btn main-button violet-btn" @click="buy()">
                                                <span class="for-icon">正常购买</span>
                                            </div>
                                        </div>
                                        <div class="main-button-wrapper orange">
                                            <div class="case-can-open__open-f case_open_btn main-button orange-btn" @click="buy()">
                                                <span class="for-icon">快速购买</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="roulette-block rulette" style="display: none" >
                                <div class="subject-roulette">
                                    <div class="rulette-row rulette_row" style="height: 350px;position: relative">
                                        <ul class="rulette_items" id="rulette_items" style="width: 1200px;height: 255px;overflow: hidden;position: absolute;left: 0px;">
                                            <li v-for="weapon in data2" :data-index="weapon.id" class="box" style="position: absolute;">
                                                <div class="roulette-subject" :style="gunBackground(weapon.type)">
                                                    <img :src="weapon.imageUrl" :alt="weapon.type" class='roulette-gun'>
                                                    <div class="name">
                                                        <!-- <span class="type">{{weapon.weaName}}</span> -->
                                                        <span class="name">{{weapon.name}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="roulette-price" style="display: none;">$ <span>2.99</span></div>
                                <div class="open-text">
                                    正在购买                <span>.</span><span>.</span><span>.</span>
                                </div>
                            </div>
                            <div class="subject-winner case_win_wrap" style="display: none;">
                                <div class="winner-case-bg">
                                    <div class="subject-img">
                                        <img :src="data3.imageUrl" alt="">
                                    </div>
                                </div>
                                <div class="subject-name">
                                    <span class="name">{{data3.name}}</span>
                                    <!-- <span class="title">{{data3.weaType}}</span> -->
                                </div>
                                <div class="btn-action">
                                    <div class="main-button-wrapper violet">
                                        <button class='main-button violet-btn play_again' @click="playAgain()">
                                            <span class="for-icon">再次游戏</span>
                                        </button>
                                    </div>
                                    <div class="main-button-wrapper orange">
                                        <button class='main-button orange-btn sell_item' @click="sellWeapon()">
                                            售价 $<span class="sell_price">{{data3.price}}</span>
                                            <span class="sell_bonus" style="display:none;">
                                                (+ $<span class="js_bonus_amount">...</span>) <small class="js_bonus_timer">00:30</small>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="main-button-wrapper violet">
                                        <a class="main-button violet-btn make_upgrade" href="upgrade.html">
                                            <span class="for-icon">前往升级</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="win-text">
                                    <span class="win-text__congrad">
                                        恭喜！        </span>
                                    <span class="win-text__withdraw">
                                        你可以在 8 小时内从<a class="item-anchor" href="#">个人资料</a>中提取这件物品        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="case-items-title">
                        <h2>内容</h2>
                    </div>
                    <div class="loot-items not-profile">
                        <div class="items-grid-wrapper">
                            <div class="items-grid">
                                <div class="loot-item" v-for="item in data2">
                                    <div :class="generateStyle(item.type) ">
                                        <div class="img-wrapper">
                                            <img class="item__img lazy-img" alt="The Empress" :src="item.imageUrl">
                                        </div>
                                        <p class="item__name">{{item.name}}</p>
                                        <!-- <p class="item__type">{{item.weaType}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="footer-banner-wrapper">
                            <div class="footer-banner">
                                <div class="footer-banner__left-block"></div>
                                <div class="footer-banner__right-block">
                                    <div class="footer-banner__text">
                                        <p>
                                            是时候购买武器箱了                    </p>
                                        <p>
                                            只需使用您的一个帐户登录<br>并开始购买顶级案例                    </p>
                                    </div>
                                    <div class="footer-banner__link-wrapper">
                                        <p>Sign in using</p>
                                        <a href="#login-popup" rel="modal:open" data-url="/login" class="button button-footer steam-btn">
                                            <i class="icon icon-steam-rounded"></i>
                                            Steam
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cookies-wrapper">
                <div class="wrapper">
                <div class="textColumn">
                    <div class="icon-wrap">
                        <img src="statics/picture/icon.png" alt="Cookies notification icon">            </div>
                    <div class="text">
                        <div class="title">
                            是否接受 Cookie？                </div>
                        <p>
                            我们的网站使用cookie来改善您的体验并分析我们的网站的使用。 点击“接受”或继续浏览网站，即表示您同意我们使用cookie。                     <a href="index.html">
                                 更多信息                     </a>
                        </p>
                    </div>
                </div>
                <div class="btnColumn">
                    <button class="main-button violet-btn accept-cookies">
                        接受                <i class="icon icon-check-upgrade"></i>
                    </button>
                </div>
            </div>
            </div>
    
<footer id="footer">
    <div class="footer">
        <div class="footer__left-block">
            <div class="footer__logo">
                <img src="./statics/image/footer-logo-ico.png" alt="boxgo.cc">
            </div>
            <div class="footer__text-wrapper">
                <p>
                    boxgo.cc © 2020
                </p>
                <p>
                   你可以用最优惠的价格获得喜欢的皮肤。<br>所有交易均通过 Steam 机器人自动进行。                </p>
                <p>
                    Limited Partnership, 39/5 Granton Crescent, Edinburgh, United Kingdom
                </p>
            </div>
        </div>
        <div class="footer__right-block">
            <div class="footer__links">
                <div class="footer__payment-methods">
                    <a href="javascript:;" class="g2a" target="_blank" rel="nofollow">
                        <img src="./statics/image/g2apay_logo.png" alt="G2A payment">
                    </a>
                    <a href="javascript:;" class="visa" target="_blank" rel="nofollow">
                        <img src="./statics/image/visa.svg" alt="Visa payment">
                    </a>
                    <a href="javascript:;" class="mastercard" target="_blank" rel="nofollow">
                        <img src="./statics/image/mastercard.svg" alt="Mastercard payment">
                    </a>
                </div>
                <div class="footer__help-link">
                    <a href="mailto:support@skin.club" class="footer-support">
                        <i class="icon icon-mail"></i>
                        support@boxgo.cc
                    </a>
                    <a href="faq.html" class="footer-faq">
                        <i class="icon icon-question"></i>
                        常见问题                    </a>
                    <a href="index.html" class="footer-faq">
                        <i class="icon icon-sitemap"></i>
                        站点地图                    </a>
                </div>
            </div>
            <div class="footer__nav">
                <a href="tos.html">服务条款</a>
                <a href="privacy.html">隐私政策</a>
                <a href="index.html">往来</a>
            </div>
        </div>
    </div>
</footer>
    <script src="statics/js/jquery-1.11.0.min.js"></script>
    <script src="statics/js/vue.min.js"></script>
    <script src="statics/js/axios.min.js"></script>
    <script src="statics/js/anime.min.js"></script>
    <script src="statics/js/sock.js"></script>
    <script src="statics/js/stomp.js"></script>

    <script>
        if(JSON.parse(window.sessionStorage.getItem('user'))){
                axios.post('http://121.36.199.219:8080/players/selectPlayerArms',{id: JSON.parse(window.sessionStorage.getItem('user')).id}).then(function (response) {
                    let oldUser = JSON.parse(window.sessionStorage.getItem('user'));
                    oldUser.balance = response.data.body.balance;
                    oldUser.id = response.data.body.id;
                    oldUser.image = response.data.body.image;
                    oldUser.name = response.data.body.name;
                    oldUser.number = response.data.body.number;
                    oldUser.steamUrl = response.data.body.steamUrl;
                    window.sessionStorage.setItem('user', JSON.stringify(oldUser));
                })
            }
        //顶部跑马灯
        var vm10 = new Vue({
                el:"#live-drops-wrapper",
                data:{
                    bestRecord:null,
                    openBoxRecord:null
                },
                mounted:function () {
                    //查询开箱记录
                    axios.post('http://121.36.199.219:8080/playerBoxArms/selectRechargeRecordDtoPage',{pageNum:1,pageSize: 20, orderByField: "1"}).then(function (response) {
                        vm10.openBoxRecord = response.data.body.list;
                        vm10.openBoxRecord = response.data.body.list.filter((item)=>{
                            return item.box != null;
                        })
                        vm10.bestRecord = response.data.body.list[0];
                        var xTran =  [];
                        var length = vm10.openBoxRecord.length;
                        for (var i=0;i<length;i++){
                            xTran[i] = {x : i * 95};
                        }
                        anime({
                            targets: xTran,
                            duration: 2000*length,
                            easing: 'linear',
                            x: "+="+95*length,
                            loop: true,
                            update: function(anim) {
                                anime.set('.live-item', {
                                    translateX:function(el, i, l){
                                        return xTran[i].x%(95*length);
                                    }
                                });
                            }
                        })
                    }).catch(function (reason) {
                        console.log(reason);
                    });
                },
                methods:{
                    generate:function (arg) {
                        return "live-item viewn_"+arg;
                    },
                    generateLink:function (arg1,arg2,arg3) {
                        return "personal.html?playerId="+arg1;
                    },
                    generateBoxUrl:function (arg) {
                        return "box.html?id="+arg;
                    },
                    generateBestDropClass:function (arg) {
                        return "hype-drop__img viewn-"+7;
                    },
                    
                    all: function() {
                        axios.post('http://121.36.199.219:8080/playerBoxArms/selectRechargeRecordDtoPage',{pageNum:1,pageSize: 10, orderByField: "1"}).then(function (response) {
                        vm10.openBoxRecord = response.data.body.list;
                        vm10.openBoxRecord = response.data.body.list.filter((item)=>{
                            return item.box != null;
                        })
                        }).catch(function (reason) {
                            console.log(reason);
                        });
                    },
                    best:function(){
                        axios.post('http://121.36.199.219:8080/playerBoxArms/selectRechargeRecordDtoPage',{pageNum:1,pageSize: 10, orderByField: "2"}).then(function (response) {
                        vm10.openBoxRecord = response.data.body.list;
                        vm10.openBoxRecord = response.data.body.list.filter((item)=>{
                            return item.box != null;
                        })
                        }).catch(function (reason) {
                            console.log(reason);
                        });
                    }
                }
            })
        var an;
        //显示箱子信息
        var vm = new Vue({
            el:"#content",
            data:{
                data1:{
                    name:'',
                    price:'',
                    image:''
                },
                data2:null,
                data3:{"id":"1","weaPic":"xx","weaName":"yy","weaType":"zz","weaPrice":12}
            },
            mounted:function () {

                var boxId = getQueryVariable("id");
                axios.post("http://121.36.199.219:8080/box/selectBoxArms",{boxId:boxId}).then(function (response) {
                    vm.data1 = response.data.body;
                    let tmparr1 = [];
                    let tmparr2 = [];
                    response.data.body.armsList.forEach((item, index) => {
                        if(index % 2 === 0) {
                            tmparr1.push(item);
                        }else{  
                            tmparr2.push(item);
                        }
                    });
                    vm.data2 = tmparr1.concat(tmparr2);
                }).catch(function (reason) {
                    console.log(reason);
                })

            },
            methods:{
                generate:function (boxPic) {
                    return "background-image: url("+boxPic+")";
                },
                gunBackground:function(arg){
                    return "background-image: url('statics/image/gun-bg-"+arg+".png');";
                },
                buy:function () {
                    var boxId = getQueryVariable("id");
                    var rouletteTime;
                    var winWeaponIndex;
                    var length = vm.data2.length;
                    axios.post('http://121.36.199.219:8080/playersArms/buybox',{boxId:boxId, id: JSON.parse(window.sessionStorage.getItem('user')).id}).then(function (response) {
                        if (response.data.info == "error") {
                            alert("开箱失败，请重试！");
                        } else{
                            var leftTotal = parseFloat($("#account").text())-parseFloat(vm.data1.price);
                            $("#account").text(leftTotal);
                            vm.data3 = response.data.body;
                     
                            vm.data2.forEach((item, i)=>{
                                if(item.id === vm.data3.id){
                                    winWeaponIndex = i;
                                }
                            })
                            // winWeaponIndex = response.data.winWeaponIndex;
                            //  = 2;

                            if (winWeaponIndex < 2) {
                                rouletteTime = 10000 - (2 - winWeaponIndex + 0.5)*(5000/length);
                            }else {
                                rouletteTime = 10000 + (winWeaponIndex - 2 - 0.5)*(5000/length);
                            }

                            $(".before-open").hide();
                            $(".roulette-block").show();
                            var xTrans =  [];
                            anime.set('.box',{
                                translateX: function(el, i, l) {
                                    xTrans[i]={x : i * 200};
                                    return i * 200;
                                },
                            });

                            an = anime({
                                targets: xTrans,
                                duration: 5000,
                                direction:'reverse',
                                easing: 'linear',
                                x: "+="+200*length,
                                loop: true,
                                update: function(anim) {
                                    anime.set('.box', {
                                        translateX:function(el, i, l){
                                            return xTrans[i].x%(200*length)
                                        }
                                    });
                                }
                            })
                            window.setTimeout(function (args) {
                                an.pause();
                                setTimeout(function () {
                                    $(".roulette-block").hide();
                                    $(".subject-winner").show();
                                    $(".case_win_wrap").addClass('win_block_c' + vm.data3.type);
                                },1000)
                            },rouletteTime);
                            let oldUser = JSON.parse(window.sessionStorage.getItem('user'));
                            axios.post('http://121.36.199.219:8080/players/selectPlayerArms',{id: oldUser.id}).then(function (response) {
                                oldUser.balance = response.data.body.balance;
                                window.sessionStorage.setItem('user', JSON.stringify(oldUser));
                            })
                        }
                    }).catch(function (reason) {
                        console.log(reason);
                    })

                },
                generateStyle: function(arg){
                        return "item case-item viewn_" + arg;
                    },
                playAgain:function () {
                    location.reload();
                },
                sellWeapon:function () {
                    console.log(vm.data3)
                    axios.post('http://121.36.199.219:8080/playerBoxArms/updatePlayerBoxArms',{"id":vm.data3.pbaId,"isStatus": 1}).then(function (response) {
                        if (response.data.message == "success"){
                            let oldUser = JSON.parse(window.sessionStorage.getItem('user'));
                            axios.post('http://121.36.199.219:8080/players/selectPlayerArms',{id: oldUser.id}).then(function (response) {
                                oldUser.balance = response.data.body.balance;
                                window.sessionStorage.setItem('user', JSON.stringify(oldUser));
                            })
                            var currTotal = parseFloat($("#account").text()) + parseFloat(vm.data3.price);
                            $("#account").text(currTotal);
                            alert("您的可用余额增加"+vm.data3.price);
                            setTimeout(()=>{
                                location.reload();
                            },100)
                        }else {
                            alert("售出失败!");
                        }
                    })
                }
            }
        })
        
        document.getElementById('pay').onclick = () => {
                axios.post(`http://121.36.199.219:8080/zfb/alipay?amount=${document.getElementById('payment__input').value}&&playerId=${JSON.parse(window.sessionStorage.getItem('user')).id}`,{}).then(function (response) {
                    qrcode = new QRCode("pay_qrcode", {
                        text: response.data,
                        width: 128,
                        height: 128,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.H
                    });
                }).catch(function (error) {
                    alert(error);
                })
            };
            $('#dialog').click(()=>{
                event.stopPropagation();
            });
            $('#dialog_mask').click(()=>{
                document.getElementById('pay_qrcode').innerHTML = '';
                $('#dialog_mask').hide();
            });
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
            }
            return(false);
        }

        //登录成功
        function bodyLoad() {
            setTimeout(()=>{
                let user = JSON.parse(window.sessionStorage.getItem('user'));
                let data = {
                    email: user.number,
                    nickname: user.name?user.name:user.number,
                    myurl: user.image,
                    account: {
                        availableMoney: user.balance
                    }
                };
                if (data.email != null && data.email != "undefined" && data.email != ""){
                    $("#login").html($("#loginSuccess").html());
                    if (data.nickname == null || data.nickname == "") {
                        $("#nickname").text(data.email);
                    }
                    $("#nickname").text(data.nickname);
                    $("#userPic").attr("src",data.myurl);
                    var availableMoney = parseFloat(data.account.availableMoney);
                    $("#account").text(availableMoney);
                    $(".before-open").removeClass("need_auth").addClass("can_open");
                        var needMoney = parseFloat(vm.data1.price);
                    if (availableMoney < needMoney) {
                        $(".case-need-auth,.case-can-open").hide();
                        $(".case-need-money").show();
                        $(".case-text-money").text(needMoney-availableMoney);
                        $(".before-open").removeClass("can_open").addClass("need_money");
                    }else{
                        $(".case-can-open").show();
                        $(".case-need-money,.case-need-auth").hide();
                    }
                }else {
                    $(".case-need-money,.case-can-open").hide();
                    $(".case-need-auth").show();
                }
            }, 100)
            
        }
        //充值
        function showDeposit(flag) {
            $("#replenish-popup").show();
            $(window).resize(function () {
                res();
            })
            res();
            function res() {
                var width = (parseInt($(document).width())-parseInt($("#replenish-popup").width()))/2;
                var height = (parseInt($(window).height())-parseInt($("#replenish-popup").height()))/2;
                $("#replenish-popup").css({"right":width,"top":height});
            }

            if(flag) {
                $('#payment__input').val($('.replenish-input-case').val());
            }

        }
        function connect() {
                var socket = new SockJS('http://121.36.199.219:8080/simple');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    stompClient.subscribe('/topic/callback', function (response) {
                       let data = JSON.parse(response.body);
                       document.getElementById('online_users').innerText = data.login;
                        document.getElementById('registered_users').innerText = data.playerCount;
                        document.getElementById('opened_cases').innerText = data.boxCount;
                        document.getElementById('upgraded_cases').innerText = data.uPCount;
                    });
                });
            }
            connect();
    </script>
    <template id="loginSuccess" >
        <div class="header-profile-user">
            <div class="header-profile-user__avatar-wrap user-avatar-wrap">
                <a class="user-avatar ava-size-m header-profile-avatar" href="personal.html">
                        <span class="user-avatar__img-wrap">
                            <span class="user-avatar__img-second-wrap">
                                <img src="" id="userPic"/>
                            </span>
                        </span>
                </a>
            </div>
            <div class="header-profile-user__text">
                <p class="header-profile-user__name ell" id="nickname"></p>
                <p class="header-profile-user__balance user-balance">
                    $ <span id="account"></span>
                    <a class="header-profile-user__deposit-btn" href="#" onclick="showDeposit()">+</a>
                </p>
            </div>
            <a class="header-profile-user__logout" href="personal.html"></a>
        </div>
    </template>

    </body>
</html>
