<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>CS:GO Youtuber 武器箱 - CS:GO 开箱，炫酷皮肤 | Skin.Club</title>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8LD3B3');</script>
<!-- End Google Tag Manager -->
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="rh1AqVTkA5tIaITSyVn9qYLjiTD7buCJ1ZX_I7otr17leg2YM7dT3RpexbyaL6v2ytrqRb0hrL2a8ZNy_UfXFQ==">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width">

    <meta name="application-name" content="SKIN.CLUB">
    <meta name="apple-mobile-web-app-title" content="Skin Club">
    <meta name="theme-color" content="#161223">
    <meta name="msapplication-TileColor" content="#161223">

    
    
    
    
    <link rel="canonical" href="">

    <meta property="og:title" content="CS:GO Youtuber 武器箱 - CS:GO 开箱，炫酷皮肤 | Skin.Club">
        <meta property="og:image" content="//cdn.skin.club/favicon/og-image.jpg">
    <meta property="og:image:height" content="262">
    <meta property="og:image:width" content="500">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/zh-cn/cases/open/csgo_youtuber">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@skinclubmedia">
    <meta name="twitter:creator" content="@skinclubmedia">

    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "http://schema.org/Product",
    "name": "CS:GO Youtuber",
    "image": "https://cdn.skin.club/img/cases/our_case/csgo_youtuber.png",
    "description": "TIME TO OPEN CASES 💣. Buy CS:GO Youtuber 武器箱 and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club",
    "url": "https://skin.club/zh-cn/cases/open/csgo_youtuber",
    "brand": {
        "@type": "Thing",
        "name": "CS:GO Youtuber"
    },
    "offers": {
        "@type": "Offer",
        "priceCurrency": "USD",
        "price": 12,
        "url": "https://skin.club/zh-cn/cases/open/csgo_youtuber",
        "itemCondition": "https://schema.org/UsedCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
            "@type": "Organization",
            "name": "Skin Club"
        }
    }
}</script><script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "http://schema.org/BreadcrumbList",
    "itemListElement": [
        {
            "@type": "http://schema.org/ListItem",
            "http://schema.org/name": "Skin Club",
            "http://schema.org/item": "https://skin.club/zh-CN",
            "http://schema.org/position": 1
        },
        {
            "@type": "http://schema.org/ListItem",
            "http://schema.org/name": "CS:GO Youtuber",
            "http://schema.org/item": "https://skin.club/zh-cn/cases/open/csgo_youtuber",
            "http://schema.org/position": 2
        }
    ]
}</script>    <meta name="description" content="TIME TO OPEN CASES 💣. Buy CS:GO Youtuber 武器箱 and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
<meta name="og:description" content="SkinClub is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
<link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet">
    <link href="csgo_youtuber1.html" rel="alternate" hreflang="en"><link href="sitemap.html" rel="alternate" hreflang="de"><link href="/es/cases/open/csgo_youtuber" rel="alternate" hreflang="es"><link href="/pl/cases/open/csgo_youtuber" rel="alternate" hreflang="pl"><link href="/fr/cases/open/csgo_youtuber" rel="alternate" hreflang="fr"><link href="/tr/cases/open/csgo_youtuber" rel="alternate" hreflang="tr"><link href="/it/cases/open/csgo_youtuber" rel="alternate" hreflang="it"><link href="/pt/cases/open/csgo_youtuber" rel="alternate" hreflang="pt"><link href="/sv/cases/open/csgo_youtuber" rel="alternate" hreflang="sv"><link href="" rel="alternate" hreflang="zh-CN">
    <!-- Unitpay -->
    <meta name="verification" content="ce916a6c3a313e568546f66654ee5e">

    
    <meta name="description" content="TIME TO OPEN CASES 💣. Buy CS:GO Youtuber 武器箱 and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
<meta name="og:description" content="SkinClub is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
<link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet"></head>

<body class="main-page">
    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="javascript:;" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    <script>var viewData = {
        "caseId":151,
        "casePrice":1200,
        "caseType":"usual",
        "isFeastCase":{"feast_id":2,"case_id":151,"order":3,"points":8},
        "itemsFolderPath":"\/\/cdn.skin.club\/items\/",
        "winItemImgSuffix":null,
        "roughItems":null,
        "colorClasses":null,
        "caseName":null,
        "rouletteImgSuffix":null,
        "soundsType":null,
        "aliases":{"web":"\/","cdn":"\/\/cdn.skin.club\/"},
        "flash":[],
        "general":{
            "language":{"current":"zh-CN","default":"en"},
            "user":[],
            "wsPath":"wss:\/\/ws.skin.club:7030"}
        };</script>
            <div id="wrapper">
        <header id="header">
    
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
        </div>
        <div class="language-dropdown">
                            <a href="csgo_youtuber1.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>
        <div class="social-header mobile-social">
            
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

        </div>

        <div class="menu-wrapper guest">
            <div class="close-mobile-menu"></div>
            <div class="left-block-wrap">
                <a href="" class="header-logo">
                    <img class="header-logo__icon" src="./statics/image/logo-icon.svg" alt="">  <img class="header-logo__text" src="./statics/image/logo-text.svg" alt="">                </a>
                <nav class="main-menu">
                    <ul>
                        <li>
                            <a href="faq.html" title="常见问题">
                                <i class="icon icon-faq"></i>
                                <span>
                                    常见问题                                </span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="partners.html" title="合伙">
                                <i class="icon icon-partnership"></i>
                                <span>
                                    合伙                                </span>
                            </a>
                        </li> -->
                        <li>
                            <a href="upgrade.html" title="升级">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    升级                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="csgo_youtuber.html" title="武器箱">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    武器箱                              </span>
                            </a>
                        </li>
                        <li>
                            <a href="personal.html" title="个人信息">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    个人信息                              </span>
                            </a>
                        </li>
                                                    <!-- <li>
                                <a href="youparty.html" title="YOUPARTY">
                                    <i class="icon icon-giveaway"></i>
                                    <span>
                                        YOUPARTY                                    </span>
                                </a>
                                <div class="label label__new">新</div>
                            </li> -->
                                                                            <li>
                                <a href="login" class="js-auth-link mobile-only">
                                    <i class="icon icon-steam"></i>
                                    登录                                </a>
                            </li>
                                                <li style="display: none">
                            <!-- Container for labels. For developers use -->
                            <div class="label-new">新</div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right-block-wrap">
                
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
        </div>
        <div class="language-dropdown">
                            <a href="csgo_youtuber1.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>                <div class="header-profile-wrapper">
                    
<div class="header-profile">
            <a href="/csgo/login.html" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">
            登录方式            <br><span>Steam</span>
        </a>
    </div>
                </div>
            </div>
        </div>

        <div class="count-social-wrapper">
            <div class="counter-header">
                <div class="counter-header__online">
                    <span id="online_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">在线</span>
                </div>
                <div class="counter-header__users">
                    <span id="registered_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">用户</span>
                </div>
                <div class="counter-header__opened">
                    <span id="opened_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">武器箱</span>
                </div>
                <div class="counter-header__upgraded">
                    <span id="upgraded_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">Upgrades</span>
                </div>
            </div>

            <div class="social-header">
                
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

            </div>
        </div>
    </div>

    <div class="ghost-element"></div>

    <div class="header-profile-wrapper mobile-header-profile-wrapper">
        
<div class="header-profile">
            <a href="#login-popup" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">
            登录方式            <br><span>Steam</span>
        </a>
    </div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
        </div>
        <div class="language-dropdown">
                            <a href="csgo_youtuber1.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>
        <div class="menu-btn">
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
        </div>
    </div>
</header>

<div id="login-popup" class="modal login-popup-modal">
    <a href="#" rel="modal:close" class="close-modal"></a>
    <p class="login-header">
        登录    </p>
    <p class="login-header2">
        请接受条款，然后点击下面的按钮以通过 Steam 登录。    </p>
    <div class="agree-block">
        <input type="checkbox" id="terms-agree" class="agreement-checkbox">
        <label for="terms-agree">
            我同意<a href="tos.html">服务条款</a>和<a href="privacy.html">隐私政策</a>        </label>
    </div>
    <div class="agree-block">
        <input type="checkbox" id="age-agree" class="agreement-checkbox">
        <label for="age-agree">
            我已满 18 岁        </label>
    </div>
    <div class="main-button-wrapper violet">
        <a href="login" class="main-button violet-btn steam-btn js-auth-link disabled">
            <i class="icon icon-steam"></i>
            <span>使用 Steam 登录</span>
        </a>
    </div>
</div>

<script type="text/template" id="new_hype_drop_tpl">
    <div class="hype-drop-wrapper" data-id="<%- drop.id %>">
        <div class="hype-drop__text">
            <p class="hype-drop__profit">+ $<%- drop.profit %></p>
            <div class="hype-drop__tagline"><%- drop.phrase %></div>
        </div>
        <div class="hype-drop__hover-block">
            <a href="/zh-CN/profile/<%- user.id %>" class="hype-drop__img viewn-<%- weapon.colorSuffix %>">
                <img src="<%- weapon.image %>340x250.png" alt="">
            </a>
            <div class="hype-drop-info">
                <div class="hype-drop-info__user">
                    <div class="user-avatar-wrap hype-drop-avatar">
                        <a href="/zh-CN/profile/<%- user.id %>" class="user-avatar ava-size-s">
                            <span class="user-avatar__img-wrap">
                                <span class="user-avatar__img-second-wrap">
                                    <img src="<%- user.avatar %>" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                    <p class="hype-drop-info__user-name ell"><%- user.name %></p>
                </div>
                <div class="hype-drop-info__case">
                    <% if(drop.type === 'case') { %>
                        <img src="<%- source.image %>" alt="">
                        <a href="/zh-CN<%- source.url %>" class="button button-special">
                            仔细检查                        </a>
                    <% } %>
                    <% if(drop.type === 'upgrade') { %>
                        <i class="icon icon-upgrade"></i>
                        <a href="/zh-cn/upgrade" class="button button-special">
                            仔细检查                        </a>
                    <% } %>

                    <p class="text-1 ell"><%- weapon.title %></p>
                    <p class="text-2 ell"><%- weapon.name %></p>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="new_drop_tpl">
    <div class="live-item viewn_<%- weapon.colorSuffix %>" data-id="<%- drop.id %>">
        <a href="/zh-CN/profile/<%- user.id %>" class="live-item__img">
            <img src="<%- weapon.image %>340x250.png" alt="">
        </a>
        <% if(isProfit === true) { %>
        <div class="live-item__paid-off"></div>
        <% } %>
        <% if(drop.type === 'upgrade') { %>
        <p class="live-item-info__upgrade-chance">
            升级            <span><%- source.chance.toFixed(2) %>%</span>
        </p>
        <% } %>
        <div class="live-item-info">
            <% if(drop.type === 'feast') { %>
            <div class="live-item-info__img">
                <img src="//cdn.skin.club/img/youparty/main-banner-logo.png" alt="" style="width: 105px;padding-top: 30px;">
            </div>
            <% } %>
            <% if(drop.type === 'case') { %>
            <div class="live-item-info__img">
                <img src="<%- source.image %>" alt="">
            </div>
            <% } %>
            <% if(drop.type === 'upgrade') { %>
            <div class="live-item-info__img upgrade">
                <i class="icon icon-upgrade"></i>
            </div>
            <% } %>
            <div class="user-avatar-wrap live-drop-avatar">
                <a href="/zh-CN/profile/<%- user.id %>" class="user-avatar ava-size-s">
                    <span class="user-avatar__img-wrap">
                        <span class="user-avatar__img-second-wrap">
                            <img src="<%- user.avatar %>" alt="">
                        </span>
                    </span>
                </a>
            </div>
            <div class="live-item-info__name-1 ell"><%- weapon.name %></div>
            <div class="live-item-info__name-2 ell"><%- weapon.title %></div>
            <p class="live-item-info__price"><%- price %></p>
            <div class="live-item-info__button-wrap">
                <% if(drop.type === 'feast') { %>
                <a href="/zh-CN/events/youparty" class="button button-special">
                    查看                </a>
                <% } %>
                <% if(drop.type === 'case') { %>
                <a href="/zh-CN<%- source.url %>" class="button button-special">
                    查看                </a>
                <% } %>
                <% if(drop.type === 'upgrade') { %>
                <a href="/zh-cn/upgrade" class="button button-special">
                    仔细检查                </a>
                <% } %>
            </div>
        </div>
    </div>
</script>
        <div id="container">
            <div id="content">
                

<div class="breadcrumbs-wrapper">
    <div class="breadcrumbs">
        <a href="sitemap.html">Skin Club</a>
        <i class="icon icon-arrow-right"></i>
        <b>CS:GO Youtuber</b>
    </div>
</div>
<div class="case-wrap">
    <h1 class="page-title">
        CS:GO Youtuber 武器箱    </h1>
    <div class="case csgo_youtuber">
        <div class="header-sound"></div>
        <div class="before-open event-case need_auth">
            <div class="case-status-img"></div>
            <div class="case-img" style="background-image: url(./statics/image/csgo_youtuber.png)">
                            </div>
            <div class="case-price">$ <span>12</span></div>

                            <div class="get-points-text" data-points-for-opening="8">
                    <p>
                        打开此武器箱并<br>获得 <span>Youpoints</span>                    </p>
                    <div>
                        + 
                        <img src="statics/picture/point-ico-s.png" alt="Youparty icon">                        <span>
                            8                        </span>                        
                    </div>
                </div>
            
            
                            <!-- <div class="case-need-auth">
                    <p class="case-text">
                        要购买武器箱，你必须登录网站                    </p>
                    <div class="main-button-wrapper violet">
                        <a href="#login-popup" rel="modal:open" data-url="/login" class="main-button violet-btn steam-btn">
                            <i class="icon icon-steam"></i>
                            <span>使用 Steam 登录	</span>
                        </a>
                    </div>
                </div> -->
            
            
            
                    </div>
        <div class="roulette-block rulette" style="display: none">
            <div class="subject-roulette">
                <div class="rulette-row rulette_row">
                    <script type="text/template" id="rulette_item">
                        <li data-index="<%= patternId %>">
                            <div class="roulette-subject rulet_c<%= colorSuffix %>">
                                <img src="<%= image %><%= size %>" alt="<%= title %>" class='roulette-gun'>
                                <div class="name">
                                    <span class="type"><%= name %></span>
                                    <span class="name"><%= title %></span>
                                </div>
                            </div>
                        </li>
                    </script>

                    <ul class="rulette_items"></ul>
                </div>
            </div>

            <div class="roulette-price" style="display: none;">$ <span>12</span></div>
            <div class="open-text">
                正在购买                <span>.</span><span>.</span><span>.</span>
            </div>
        </div>
        
<div class="subject-winner case_win_wrap" style="display: none;">
    <div class="winner-case-bg">
        <div class="subject-img">
            <img src="" alt="">
        </div>

                    <div class="case-event-points">
                <span>
                    + <span class="points">8</span>
                </span>
                <img src="statics/picture/point-ico-s.png" alt="Youparty event points icon">
            </div>
            </div>
    <div class="subject-name">
        <span class="name">x</span>
        <span class="title">x</span>
    </div>
        <div class="btn-action">
        <div class="main-button-wrapper violet">
            <button class='main-button violet-btn play_again'>
                <span class="for-icon">再次游戏</span>
            </button>
        </div>
        <div class="main-button-wrapper orange">
            <button class='main-button orange-btn sell_item'>
                售价 $<span class="sell_price"></span>
                <span class="sell_bonus" style="display:none;">
                    (+ $<span class="js_bonus_amount">...</span>) <small class="js_bonus_timer">00:30</small>
                </span>
            </button>
        </div>
        <div class="main-button-wrapper violet">
            <a class="main-button violet-btn make_upgrade" href="#" href_tpl="/zh-cn/upgrade?drop_id=XXX">
                <span class="for-icon">前往升级</span>
            </a>
        </div>
    </div>
    <div class="win-text">
        <span class="win-text__congrad">
            恭喜！        </span>
        <span class="win-text__withdraw">
            你可以在 8 小时内从<a class="item-anchor" href="#">个人资料</a>中提取这件物品        </span>
    </div>
</div>    </div>
</div>

<div class="case-items-title">
    <h2>内容</h2>
</div>
<div class="loot-items not-profile">
    <div class="items-grid-wrapper">
        <div class="items-grid">
            
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Slaughter" data-src="static/picture/340x25076.png">
            </div>
            <p class="item__name">★ Karambit</p>
            <p class="item__type">Slaughter</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Lore" data-src="static/picture/340x25077.png">
            </div>
            <p class="item__name">★ Bayonet</p>
            <p class="item__type">Lore</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Fade" data-src="static/picture/340x25078.png">
            </div>
            <p class="item__name">★ M9 Bayonet</p>
            <p class="item__type">Fade</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Fade" data-src="static/picture/340x25079.png">
            </div>
            <p class="item__name">★ Stiletto Knife</p>
            <p class="item__type">Fade</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Vice" data-src="static/picture/340x25080.png">
            </div>
            <p class="item__name">★ Sport Gloves</p>
            <p class="item__type">Vice</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Howl" data-src="static/picture/340x25081.png">
            </div>
            <p class="item__name">M4A4</p>
            <p class="item__type">Howl</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Wildfire" data-src="static/picture/340x25082.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Wildfire</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hyper Beast" data-src="static/picture/340x25083.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Hyper Beast</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Golden Coil" data-src="static/picture/340x25084.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Golden Coil</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Bloodsport" data-src="static/picture/340x25085.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Bloodsport</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neo-Noir" data-src="static/picture/340x25086.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Neo-Noir</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Bullet Queen" data-src="static/picture/340x25087.png">
            </div>
            <p class="item__name">Glock-18</p>
            <p class="item__type">Bullet Queen</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Frontside Misty" data-src="static/picture/340x25048.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Frontside Misty</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="龍王 (Dragon King)" data-src="static/picture/340x25088.png">
            </div>
            <p class="item__name">M4A4</p>
            <p class="item__type">龍王 (Dragon King)</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Control Panel" data-src="static/picture/340x25089.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Control Panel</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Mortis" data-src="static/picture/340x25090.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Mortis</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Cobalt Disruption" data-src="static/picture/340x25091.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Cobalt Disruption</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Cortex" data-src="static/picture/340x25092.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Cortex</p>
        </div>
    </div>
        </div>
    </div>
</div>
                                <div class="footer-banner-wrapper">
    <div class="footer-banner">
        <div class="footer-banner__left-block"></div>
                    <div class="footer-banner__right-block">
                <div class="footer-banner__text">
                    <p>
                        是时候购买武器箱了                    </p>
                    <p>
                        只需使用您的一个帐户登录<br>并开始购买顶级案例                    </p>
                </div>
                <div class="footer-banner__link-wrapper">
                    <p>Sign in using</p>
                    <a href="#login-popup" rel="modal:open" data-url="/login" class="button button-footer steam-btn">
                        <i class="icon icon-steam-rounded"></i>
                        Steam
                    </a>
                </div>
            </div>
            </div>
</div>            </div>
        </div>
    </div>
    <div class="cookies-wrapper">
    <div class="wrapper">
        <div class="textColumn">
            <div class="icon-wrap">
                <img src="statics/picture/icon.png" alt="Cookies notification icon">            </div>
            <div class="text">
                <div class="title">
                    是否接受 Cookie？                </div>
                <p>
                    我们的网站使用cookie来改善您的体验并分析我们的网站的使用。 点击“接受”或继续浏览网站，即表示您同意我们使用cookie。                     <a href="sitemap.html">
                         更多信息                     </a>
                </p>
            </div>
        </div>
        <div class="btnColumn">
            <button class="main-button violet-btn accept-cookies">
                接受                <i class="icon icon-check-upgrade"></i>
            </button>
        </div>
    </div>
</div>
    
<footer id="footer">
    <div class="footer">
        <div class="footer__left-block">
            <div class="footer__logo">
                <img src="./statics/image/footer-logo-ico.png" alt="Skin.club">
            </div>
            <div class="footer__text-wrapper">
                <p>
                    Skin.club © 2020
                </p>
                <p>
                   你可以用最优惠的价格获得喜欢的皮肤。<br>所有交易均通过 Steam 机器人自动进行。                </p>
                <p>
                    Limited Partnership, 39/5 Granton Crescent, Edinburgh, United Kingdom
                </p>
            </div>
        </div>
        <div class="footer__right-block">
            <div class="footer__links">
                <div class="footer__payment-methods">
                    <a href="javascript:;" class="g2a" target="_blank" rel="nofollow">
                        <img src="./statics/image/g2apay_logo.png" alt="G2A payment">
                    </a>
                    <a href="javascript:;" class="visa" target="_blank" rel="nofollow">
                        <img src="./statics/image/visa.svg" alt="Visa payment">
                    </a>
                    <a href="javascript:;" class="mastercard" target="_blank" rel="nofollow">
                        <img src="./statics/image/mastercard.svg" alt="Mastercard payment">
                    </a>
                </div>
                <div class="footer__help-link">
                    <a href="mailto:support@skin.club" class="footer-support">
                        <i class="icon icon-mail"></i>
                        support@skin.club
                    </a>
                    <a href="faq.html" class="footer-faq">
                        <i class="icon icon-question"></i>
                        常见问题                    </a>
                    <a href="sitemap.html" class="footer-faq">
                        <i class="icon icon-sitemap"></i>
                        站点地图                    </a>
                </div>
            </div>
            <div class="footer__nav">
                <a href="tos.html">服务条款</a>
                <a href="privacy.html">隐私政策</a>
                <a href="sitemap.html">往来</a>
            </div>
        </div>
    </div>
</footer>
        <script src="statics/js/all-ab08522165520a4e1370084b6ac8.js"></script>
        <script src="statics/js/jquery.easing.min-1537222683.js"></script>
        <script src="statics/js/roulette-1568974967.js"></script>
        <script src="statics/js/view-1587111019.js"></script>
        <script>

        </script>    
        </body>

</html>
