<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Free Kiste - CS:GO Kisten öffnen, Coole Skins | Skin.Club</title>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8LD3B3');</script>
<!-- End Google Tag Manager -->
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="4tQmzQMVBlJWRceAlCWkbugVxcn3scCi9m-G9iCw8CDXhHCKYFllMQ8n9u3wd-k0kWKhs7_JtO2TKs6yFueRZQ==">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width">

    <meta name="application-name" content="SKIN.CLUB">
    <meta name="apple-mobile-web-app-title" content="Skin Club">
    <meta name="theme-color" content="#161223">
    <meta name="msapplication-TileColor" content="#161223">

    
    
    
    
    <link rel="manifest" href="//cdn.skin.club/site.webmanifest">
    <link rel="canonical" href="">

    <meta property="og:title" content="Free Kiste - CS:GO Kisten öffnen, Coole Skins | Skin.Club">
        <meta property="og:image" content="//cdn.skin.club/favicon/og-image.jpg">
    <meta property="og:image:height" content="262">
    <meta property="og:image:width" content="500">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/de/cases/free-case">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@skinclubmedia">
    <meta name="twitter:creator" content="@skinclubmedia">

    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "http://schema.org/Product",
    "name": "Free",
    "image": "https://skin.club//cdn.skin.club/img/cases/our_case/free-case.png",
    "description": "TIME TO OPEN CASES 💣. Get Free Kiste and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club",
    "brand": {
        "@type": "Thing",
        "name": "Free "
    },
    "offers": {
        "@type": "Offer",
        "url": "https://skin.club/de/cases/free-case",
        "priceCurrency": "USD",
        "price": 5,
        "itemCondition": "https://schema.org/UsedCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
            "@type": "Organization",
            "name": "Skin Club"
        }
    }
}</script><script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "http://schema.org/BreadcrumbList",
    "itemListElement": [
        {
            "@type": "http://schema.org/ListItem",
            "http://schema.org/name": "Skin Club",
            "http://schema.org/item": "https://skin.club/de",
            "http://schema.org/position": 1
        },
        {
            "@type": "http://schema.org/ListItem",
            "http://schema.org/name": "Free",
            "http://schema.org/item": "https://skin.club/de/cases/free-case",
            "http://schema.org/position": 2
        }
    ]
}</script>    <meta name="description" content="TIME TO OPEN CASES 💣. Get Free Kiste and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
<meta name="og:description" content="SkinClub is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
<link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet">
    <link href="sitemap.html" rel="alternate" hreflang="en"><link href="" rel="alternate" hreflang="de"><link href="/es/cases/free-case" rel="alternate" hreflang="es"><link href="/pl/cases/free-case" rel="alternate" hreflang="pl"><link href="/fr/cases/free-case" rel="alternate" hreflang="fr"><link href="/tr/cases/free-case" rel="alternate" hreflang="tr"><link href="/it/cases/free-case" rel="alternate" hreflang="it"><link href="/pt/cases/free-case" rel="alternate" hreflang="pt"><link href="/sv/cases/free-case" rel="alternate" hreflang="sv"><link href="sitemap.html" rel="alternate" hreflang="zh-CN">
    <!-- Unitpay -->
    <meta name="verification" content="ce916a6c3a313e568546f66654ee5e">

    
    <meta name="description" content="TIME TO OPEN CASES 💣. Get Free Kiste and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
<meta name="og:description" content="SkinClub is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
<link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet"></head>

<body class="main-page">
    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="javascript:;" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    <script>var viewData = {"caseId":71,"aliases":{"web":"\/","cdn":"\/\/cdn.skin.club\/"},"flash":[],"general":{"language":{"current":"de","default":"en"},"user":[],"wsPath":"wss:\/\/ws.skin.club:7030"}};</script>
            <div id="wrapper">
        <header id="header">
    
    <div class="live-drops-wrapper">
        <div class="first-block">
            <a href="de.html" class="header-logo header-logo-mobile">
                <img class="header-logo__icon" src="statics/picture/logo-icon.svg" alt="">            </a>

            <div class="hype-drop"></div>
        </div>

        <div class="second-block">
            <div class="live-drop-switch">
                <div class="live-drop-switch__all">全部</div>
                <div class="live-drop-switch__best">最佳</div>
            </div>

            <div class="live-drop"></div>
        </div>
    </div>

    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>de</p>
        </div>
        <div class="language-dropdown">
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>
        <div class="social-header mobile-social">
            
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

        </div>

        <div class="menu-wrapper guest">
            <div class="close-mobile-menu"></div>
            <div class="left-block-wrap">
                <a href="de.html" class="header-logo">
                    <img class="header-logo__icon" src="statics/picture/logo-icon.svg" alt="">                    <img class="header-logo__text" src="statics/picture/logo-text.svg" alt="">                </a>
                <nav class="main-menu">
                    <ul>
                        <li>
                            <a href="faq1.html" title="F.A.Q">
                                <i class="icon icon-faq"></i>
                                <span>
                                    常见问题                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="sitemap.html" title="Partnerschaft">
                                <i class="icon icon-partnership"></i>
                                <span>
                                    合伙                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="sitemap.html" title="Upgrade">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    升级                                </span>
                            </a>
                        </li>
                                                    <li>
                                <a href="sitemap.html" title="YOUPARTY">
                                    <i class="icon icon-giveaway"></i>
                                    <span>
                                        YOUPARTY                                    </span>
                                </a>
                                <div class="label label__new">Neu</div>
                            </li>
                                                                            <li>
                                <a href="login" class="js-auth-link mobile-only">
                                    <i class="icon icon-steam"></i>
                                    Einloggen                                </a>
                            </li>
                                                <li style="display: none">
                            <!-- Container for labels. For developers use -->
                            <div class="label-new">Neu</div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="right-block-wrap">
                
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>CN</p>
        </div>
        <div class="language-dropdown">
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>                <div class="header-profile-wrapper">
                    
<div class="header-profile">
            <a href="#login-popup" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">
            登录方式            <br><span>Steam</span>
        </a>
    </div>
                </div>
            </div>
        </div>

        <div class="count-social-wrapper">
            <div class="counter-header">
                <div class="counter-header__online">
                    <span id="online_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">在线</span>
                </div>
                <div class="counter-header__users">
                    <span id="registered_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">用户</span>
                </div>
                <div class="counter-header__opened">
                    <span id="opened_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">武器箱</span>
                </div>
                <div class="counter-header__upgraded">
                    <span id="upgraded_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">Upgrades</span>
                </div>
            </div>

            <div class="social-header">
                
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

            </div>
        </div>
    </div>

    <div class="ghost-element"></div>

    <div class="header-profile-wrapper mobile-header-profile-wrapper">
        
<div class="header-profile">
            <a href="#login-popup" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">
            Einloggen mit            <br><span>Steam</span>
        </a>
    </div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>CN</p>
        </div>
        <div class="language-dropdown">
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>
        <div class="menu-btn">
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
        </div>
    </div>
</header>

<div id="login-popup" class="modal login-popup-modal">
    <a href="#" rel="modal:close" class="close-modal"></a>
    <p class="login-header">
        Einloggen    </p>
    <p class="login-header2">
        Bitte akzeptiere die Bedingungen und klicke unten auf die Schaltfläche, um dich über Steam anzumelden.    </p>
    <div class="agree-block">
        <input type="checkbox" id="terms-agree" class="agreement-checkbox">
        <label for="terms-agree">
            Ich strimme den <a href="sitemap.html">Nutzungsbedingungen</a> und <a href="privacy2.html">Datenschutzbestimmungen</a> zu        </label>
    </div>
    <div class="agree-block">
        <input type="checkbox" id="age-agree" class="agreement-checkbox">
        <label for="age-agree">
            Ich bin mindestens 18 Jahre alt        </label>
    </div>
    <div class="main-button-wrapper violet">
        <a href="login" class="main-button violet-btn steam-btn js-auth-link disabled">
            <i class="icon icon-steam"></i>
            <span>Mit Steam einloggen</span>
        </a>
    </div>
</div>

<script type="text/template" id="new_hype_drop_tpl">
    <div class="hype-drop-wrapper" data-id="<%- drop.id %>">
        <div class="hype-drop__text">
            <p class="hype-drop__profit">+ $<%- drop.profit %></p>
            <div class="hype-drop__tagline"><%- drop.phrase %></div>
        </div>
        <div class="hype-drop__hover-block">
            <a href="/de/profile/<%- user.id %>" class="hype-drop__img viewn-<%- weapon.colorSuffix %>">
                <img src="<%- weapon.image %>340x250.png" alt="">
            </a>
            <div class="hype-drop-info">
                <div class="hype-drop-info__user">
                    <div class="user-avatar-wrap hype-drop-avatar">
                        <a href="/de/profile/<%- user.id %>" class="user-avatar ava-size-s">
                            <span class="user-avatar__img-wrap">
                                <span class="user-avatar__img-second-wrap">
                                    <img src="<%- user.avatar %>" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                    <p class="hype-drop-info__user-name ell"><%- user.name %></p>
                </div>
                <div class="hype-drop-info__case">
                    <% if(drop.type === 'case') { %>
                        <img src="<%- source.image %>" alt="">
                        <a href="/de<%- source.url %>" class="button button-special">
                            Dort hingehen                        </a>
                    <% } %>
                    <% if(drop.type === 'upgrade') { %>
                        <i class="icon icon-upgrade"></i>
                        <a href="/de/upgrade" class="button button-special">
                            Dort hingehen                        </a>
                    <% } %>

                    <p class="text-1 ell"><%- weapon.title %></p>
                    <p class="text-2 ell"><%- weapon.name %></p>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="new_drop_tpl">
    <div class="live-item viewn_<%- weapon.colorSuffix %>" data-id="<%- drop.id %>">
        <a href="/de/profile/<%- user.id %>" class="live-item__img">
            <img src="<%- weapon.image %>340x250.png" alt="">
        </a>
        <% if(isProfit === true) { %>
        <div class="live-item__paid-off"></div>
        <% } %>
        <% if(drop.type === 'upgrade') { %>
        <p class="live-item-info__upgrade-chance">
            Upgrade            <span><%- source.chance.toFixed(2) %>%</span>
        </p>
        <% } %>
        <div class="live-item-info">
            <% if(drop.type === 'feast') { %>
            <div class="live-item-info__img">
                <img src="//cdn.skin.club/img/youparty/main-banner-logo.png" alt="" style="width: 105px;padding-top: 30px;">
            </div>
            <% } %>
            <% if(drop.type === 'case') { %>
            <div class="live-item-info__img">
                <img src="<%- source.image %>" alt="">
            </div>
            <% } %>
            <% if(drop.type === 'upgrade') { %>
            <div class="live-item-info__img upgrade">
                <i class="icon icon-upgrade"></i>
            </div>
            <% } %>
            <div class="user-avatar-wrap live-drop-avatar">
                <a href="/de/profile/<%- user.id %>" class="user-avatar ava-size-s">
                    <span class="user-avatar__img-wrap">
                        <span class="user-avatar__img-second-wrap">
                            <img src="<%- user.avatar %>" alt="">
                        </span>
                    </span>
                </a>
            </div>
            <div class="live-item-info__name-1 ell"><%- weapon.name %></div>
            <div class="live-item-info__name-2 ell"><%- weapon.title %></div>
            <p class="live-item-info__price"><%- price %></p>
            <div class="live-item-info__button-wrap">
                <% if(drop.type === 'feast') { %>
                <a href="/de/events/youparty" class="button button-special">
                    Überprüfen                </a>
                <% } %>
                <% if(drop.type === 'case') { %>
                <a href="/de<%- source.url %>" class="button button-special">
                    Überprüfen                </a>
                <% } %>
                <% if(drop.type === 'upgrade') { %>
                <a href="/de/upgrade" class="button button-special">
                    Dort hingehen                </a>
                <% } %>
            </div>
        </div>
    </div>
</script>
        <div id="container">
            <div id="content">
                

<div class="breadcrumbs-wrapper">
    <div class="breadcrumbs">
        <a href="sitemap.html">Skin Club</a>
        <i class="icon icon-arrow-right"></i>
        <b>Free </b>
    </div>
</div>
<section class="giveaway-case-wrapper">
    <h1 class="page-title">
        免费武器箱    </h1>
    <div class="giveaway-case">
        
<div class="giveaway-case__last-winner">
    <p class="text">上次的获奖者</p>

            <div class="giveaway-case__user">
            <a href="javascript:;" class="img-wrapper">
                <img src="statics/picture/f9a258a728099b889f02c8c2c0f37ca3.jpg" alt="">            </a>

            <div class="name">apolly5255</div>
        </div>

        <div class="giveaway-case__arrow"></div>

        <div class="win-item viewn_5">
            <p class="win-item__price">$12.03</p>
            <img src="statics/picture/160x1081.png" alt="">            <p class="win-item__name-1">Glock-18</p>
            <p class="win-item__name-2">Water Elemental</p>
        </div>
    </div>

        <div class="giveaway-case__logo">
            <img src="statics/picture/free-case1.png" alt="Free ">            <img src="statics/picture/free-icon.png" class="free-icon" alt="Free case">
        </div>

                    <div class="giveaway-case__not-login">
                <p>
                    你需要验证身份<br>才能参加赠品活动                 </p>
                <a href="#login-popup" rel="modal:open" data-url="/login" class="main-button violet-btn steam-btn">
                    <span class="for-icon">使用 Steam 登录</span>
                </a>
            </div>
        
        <div class="giveaway-case__description">
            <p>
                                    
                    This giveaway is free and available to any <span><a class="js-auth-link" href="login">authenticated</a></span> user. 
                    Press "participate" button and solve captcha challenge.<br>
                    After completion of the giveaway the prize would be given to one random participant and the giveaway will start again. 
                    Good luck! #SKINCLUB                            </p>
        </div>

        <div class="giveaway-case__total_won">
            赢取物品的总价: $29407.83        </div>
    </div>
</section>


<div class="last-registered">
    <div class="block-title">
        <div class="title-wrapper">
            <h2>
                最近注册的参与者 (总共 <span>1422</span> 个)            </h2>
        </div>
    </div>

    <div class="last-users-wrapper">
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/7366505878d2cb015b654290df5aacf6.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Toothless |</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/9e215cdfe22da394b59935aeb048b598.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Faddy ur Daddy</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/0c63655907e3d3fb4fbb1a02222992a0.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Happy Face</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/e18635874dc261cea92a059d053e8fac.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Killer duck</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/45dc500523351bb351a8c41fcad8c2bd.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Baco the wine</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/b45de356a4efaba4cd0672225a2d0e77.jpg" alt="User avatar">                </a>
                <p class="last-user__name">L.L</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/385e01604f5179af18ff1b0c5981efd8.jpg" alt="User avatar">                </a>
                <p class="last-user__name">PACMAN</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/0b008f3d7119e6ed1858c4186b37c184.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Lahuer</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/72e244055548631ee275b40e5fd88f5e.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Ciudadano Descontento</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/81e818130572c482abb66d84b05e709e.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Parches HD</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/de8bea59649a0647a9be68150e72df31.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Hola Soy Yo.</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/10432f8507508ae5f3f8c38013a83566.jpg" alt="User avatar">                </a>
                <p class="last-user__name">DaniM1996</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/fef49e7fa7e1997310d705b2a6158ff8.jpg" alt="User avatar">                </a>
                <p class="last-user__name">adominguezrubio</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/de67dd96c1a4958ede3dd2b84a10c06b.jpg" alt="User avatar">                </a>
                <p class="last-user__name">yumoş</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/bf6ee78a9a4f261271b06659e422fa20.jpg" alt="User avatar">                </a>
                <p class="last-user__name">el jincho</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/67c312402d9d5503c6c87188eddf2e75.jpg" alt="User avatar">                </a>
                <p class="last-user__name">50K4 do bololo</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/f883fdb12dc120017d94995db757c675.jpg" alt="User avatar">                </a>
                <p class="last-user__name">mehmetbanabak2006</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/194ee81a9727761b7eb6b571d1d678bc.jpg" alt="User avatar">                </a>
                <p class="last-user__name">💜 LOVE SKINS 💜</p>
                <p class="last-user__date">2020-04-25 13:37</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/d944bd73d553e20295a155069a45b92a.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Denver</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/0a1fe664c0cb184af92b7663c0ebd0e2.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Suspectree</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/c3e1a2db0ac143f15bb9c043a40b80ba.jpg" alt="User avatar">                </a>
                <p class="last-user__name">STORM9LEILOUMOU</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/5a2ec7fa81523626407feed96c20e6a7.jpg" alt="User avatar">                </a>
                <p class="last-user__name">The reformed michael</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/30c2f959d8ccf8cc548c08216f23e015.jpg" alt="User avatar">                </a>
                <p class="last-user__name">@pelaaz_</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/2f5c9cdd391100eabb6b0ce0d503ca05.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Anubis</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
            </div>

    <script type="text/template" id="new_participant_tpl">
        <div class="last-user">
            <a href="/profile/<%- userId %>" class="last-user__avatar">
                <img src="<%- avatarUrl %>" alt="User avatar">
            </a>
            <p class="last-user__name"><%- name %></p>
            <p class="last-user__date"><%- timeRegister %></p>
        </div>
    </script>
</div>


<div class="block-title">
    <div class="title-wrapper">
        <h2>内容</h2>
    </div>
</div>

<div class="loot-items not-profile">
    <div class="items-grid-wrapper">
        <div class="items-grid">
            
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Code Red" data-src="static/picture/e551e90962.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Code Red</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Golden Koi" data-src="static/picture/f2c96f4e33.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Golden Koi</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Kill Confirmed" data-src="static/picture/9eb2a3e349.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Kill Confirmed</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neo-Noir" data-src="static/picture/340x25086.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Neo-Noir</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Asiimov" data-src="static/picture/a89d34fc64.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Asiimov</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neon Revolution" data-src="static/picture/f83e19c7fe.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Neon Revolution</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Bloodsport" data-src="static/picture/340x25085.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Bloodsport</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Asiimov" data-src="static/picture/477640981e.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Asiimov</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hyper Beast" data-src="static/picture/340x25083.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Hyper Beast</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Blood in the Water" data-src="static/picture/340x25022.png">
            </div>
            <p class="item__name">SSG 08</p>
            <p class="item__type">Blood in the Water</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Mortis" data-src="static/picture/340x25090.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Mortis</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Redline" data-src="static/picture/2693f23ef2.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Redline</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Fever Dream" data-src="static/picture/340x25065.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Fever Dream</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Electric Hive" data-src="static/picture/f536ad6c81.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Electric Hive</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Desolate Space" data-src="static/picture/17e77f4cd5.png">
            </div>
            <p class="item__name">M4A4</p>
            <p class="item__type">Desolate Space</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hot Rod" data-src="static/picture/340x25010.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Hot Rod</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Decimator" data-src="static/picture/eff80dbef8.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Decimator</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Leaded Glass" data-src="static/picture/b9d96a72f1.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Leaded Glass</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Point Disarray" data-src="static/picture/340x25049.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Point Disarray</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Water Elemental" data-src="static/picture/9d45ed332f.png">
            </div>
            <p class="item__name">Glock-18</p>
            <p class="item__type">Water Elemental</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Redline" data-src="static/picture/340x25064.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Redline</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Frontside Misty" data-src="static/picture/340x25048.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Frontside Misty</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Case Hardened" data-src="static/picture/4825a42d32.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Case Hardened</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Cortex" data-src="static/picture/340x25092.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Cortex</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Serum" data-src="static/picture/325f8e0c8d.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Serum</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Cobalt Disruption" data-src="static/picture/340x25091.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Cobalt Disruption</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hypnotic" data-src="static/picture/937a7cb1ad.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Hypnotic</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Kumicho Dragon" data-src="static/picture/47e595cef6.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Kumicho Dragon</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Asiimov" data-src="static/picture/ed63b21f85.png">
            </div>
            <p class="item__name">P250</p>
            <p class="item__type">Asiimov</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="BOOM" data-src="static/picture/cc8d411194.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">BOOM</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hand Cannon" data-src="static/picture/08c57155a3.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Hand Cannon</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Sunset Storm 弐" data-src="static/picture/340x25011.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Sunset Storm 弐</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Naga" data-src="static/picture/61c5252389.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Naga</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Overgrowth" data-src="static/picture/2f22f00c78.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Overgrowth</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Dark Water" data-src="static/picture/0f63ff8f3f.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Dark Water</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Dark Water" data-src="static/picture/8d4ba21aa5.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Dark Water</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_4 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Icarus Fell" data-src="static/picture/edab716424.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Icarus Fell</p>
        </div>
    </div>
        </div>
    </div>
</div>
                                <div class="footer-banner-wrapper">
    <div class="footer-banner">
        <div class="footer-banner__left-block"></div>
                    <div class="footer-banner__right-block">
                <div class="footer-banner__text">
                    <p>
                        是时候购买武器箱了                    </p>
                    <p>
                        只需使用您的一个帐户登录 <br> 并开始购买顶级案例                    </p>
                </div>
                <div class="footer-banner__link-wrapper">
                    <p>登录方式</p>
                    <a href="#login-popup" rel="modal:open" data-url="/login" class="button button-footer steam-btn">
                        <i class="icon icon-steam-rounded"></i>
                        Steam
                    </a>
                </div>
            </div>
            </div>
</div>            </div>
        </div>
    </div>
    <div class="cookies-wrapper">
    <div class="wrapper">
        <div class="textColumn">
            <div class="icon-wrap">
                <img src="statics/picture/icon.png" alt="Cookies notification icon">            </div>
            <div class="text">
                <div class="title">
                    Cookies akzeptieren?                </div>
                <p>
                    Unsere Website verwendet Cookies, um Ihre Erfahrung zu verbessern und die Nutzung unserer Website zu analysieren. Wenn Sie auf "Akzeptieren" klicken oder weiter auf der Website surfen, stimmen Sie der Verwendung von Cookies zu.                     <a href="javascript:;">
                         Mehr Info                     </a>
                </p>
            </div>
        </div>
        <div class="btnColumn">
            <button class="main-button violet-btn accept-cookies">
                Akzeptieren                <i class="icon icon-check-upgrade"></i>
            </button>
        </div>
    </div>
</div>
    
<footer id="footer">
    <div class="footer">
        <div class="footer__left-block">
            <div class="footer__logo">
                <img src="statics/picture/footer-logo-ico.png" alt="Skin.club">
            </div>
            <div class="footer__text-wrapper">
                <p>
                    Skin.club © 2020
                </p>
                <p>
                   你可以用最优惠的价格获得喜欢的皮肤。<br> 所有交易均通过 Steam 机器人自动进行。                </p>
                <p>
                    Limited Partnership, 39/5 Granton Crescent, Edinburgh, United Kingdom
                </p>
            </div>
        </div>
        <div class="footer__right-block">
            <div class="footer__links">
                <div class="footer__payment-methods">
                    <a href="javascript:;" class="g2a" target="_blank" rel="nofollow">
                        <img src="statics/picture/g2apay_logo.png" alt="G2A payment">
                    </a>
                    <a href="javascript:;" class="visa" target="_blank" rel="nofollow">
                        <img src="statics/picture/visa.svg" alt="Visa payment">
                    </a>
                    <a href="javascript:;" class="mastercard" target="_blank" rel="nofollow">
                        <img src="statics/picture/mastercard.svg" alt="Mastercard payment">
                    </a>
                </div>
                <div class="footer__help-link">
                    <a href="mailto:support@skin.club" class="footer-support">
                        <i class="icon icon-mail"></i>
                        support@skin.club
                    </a>
                    <a href="faq1.html" class="footer-faq">
                        <i class="icon icon-question"></i>
                        常见问题                    </a>
                    <a href="sitemap.html" class="footer-faq">
                        <i class="icon icon-sitemap"></i>
                        站点地图                    </a>
                </div>
            </div>
            <div class="footer__nav">
                <a href="sitemap.html">服务条款</a>
                <a href="privacy.html">隐私政策</a>
                <a href="javascript:;">往来</a>
            </div>
        </div>
    </div>
</footer>
        <script src="https://www.google.com/recaptcha/api.js"></script>
<script src="statics/js/all-ab08522165520a4e1370084b6ac8.js"></script>
<script src="statics/js/special-open-1583497980.js"></script>
    
        </body>

</html>
