<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Premium Kiste - CS:GO Kisten öffnen, Coole Skins | Skin.Club</title>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8LD3B3');</script>
<!-- End Google Tag Manager -->
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="ihJ5EzAgT9ugCxA9FYGJlm1FkHXoWzcQN206bBU29c7yUwEhQX8LhMNESEt4xbmgBQffON4yYXVaOlUzfnmzgw==">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width">

    <meta name="application-name" content="SKIN.CLUB">
    <meta name="apple-mobile-web-app-title" content="Skin Club">
    <meta name="theme-color" content="#161223">
    <meta name="msapplication-TileColor" content="#161223">

    
    
    
    
    <link rel="manifest" href="//cdn.skin.club/site.webmanifest">
    <link rel="canonical" href="">

    <meta property="og:title" content="Premium Kiste - CS:GO Kisten öffnen, Coole Skins | Skin.Club">
        <meta property="og:image" content="//cdn.skin.club/favicon/og-image.jpg">
    <meta property="og:image:height" content="262">
    <meta property="og:image:width" content="500">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/de/cases/premium-case">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@skinclubmedia">
    <meta name="twitter:creator" content="@skinclubmedia">

    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "http://schema.org/Product",
    "name": "Premium",
    "image": "//cdn.skin.club/img/cases/our_case/premium-case.png",
    "description": "TIME TO OPEN CASES 💣. Buy Premium Kiste and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club",
    "url": "https://skin.club/de/cases/premium-case",
    "brand": {
        "@type": "Thing",
        "name": "Premium"
    },
    "offers": {
        "@type": "Offer",
        "priceCurrency": "USD",
        "price": 5,
        "url": "https://skin.club/de/cases/premium-case",
        "itemCondition": "https://schema.org/UsedCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
            "@type": "Organization",
            "name": "Skin Club"
        }
    }
}</script><script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "http://schema.org/BreadcrumbList",
    "itemListElement": [
        {
            "@type": "http://schema.org/ListItem",
            "http://schema.org/name": "Skin Club",
            "http://schema.org/item": "https://skin.club/de",
            "http://schema.org/position": 1
        },
        {
            "@type": "http://schema.org/ListItem",
            "http://schema.org/name": "Premium",
            "http://schema.org/item": "https://skin.club/de/cases/premium-case",
            "http://schema.org/position": 2
        }
    ]
}</script>    <meta name="description" content="TIME TO OPEN CASES 💣. Buy Premium Kiste and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
<meta name="og:description" content="SkinClub is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
<link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet">
    <link href="sitemap.html" rel="alternate" hreflang="en"><link href="" rel="alternate" hreflang="de"><link href="/es/cases/premium-case" rel="alternate" hreflang="es"><link href="/pl/cases/premium-case" rel="alternate" hreflang="pl"><link href="/fr/cases/premium-case" rel="alternate" hreflang="fr"><link href="/tr/cases/premium-case" rel="alternate" hreflang="tr"><link href="/it/cases/premium-case" rel="alternate" hreflang="it"><link href="/pt/cases/premium-case" rel="alternate" hreflang="pt"><link href="/sv/cases/premium-case" rel="alternate" hreflang="sv"><link href="sitemap.html" rel="alternate" hreflang="zh-CN">
    <!-- Unitpay -->
    <meta name="verification" content="ce916a6c3a313e568546f66654ee5e">

    
    <meta name="description" content="TIME TO OPEN CASES 💣. Buy Premium Kiste and receive new skins for your CS:GO skin collection! 💎 All the items you have been dreaming about are available on Skin.Club">
<meta name="og:description" content="SkinClub is exceptional CS:GO case opening website where you can buy cases and new exclusive and classic skins. Pleasing prices allows you to enjoy great and rare CSGO items.">
<link href="statics/css/all-f21f217ff6f27a939e05d535c30e.css" rel="stylesheet"></head>

<body class="main-page">
    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="javascript:;" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    <script>var viewData = {"caseId":72,"aliases":{"web":"\/","cdn":"\/\/cdn.skin.club\/"},"flash":[],"general":{"language":{"current":"de","default":"en"},"user":[],"wsPath":"wss:\/\/ws.skin.club:7030"}};</script>
            <div id="wrapper">
        <header id="header">
    
    <div class="live-drops-wrapper">
        <div class="first-block">
            <a href="de.html" class="header-logo header-logo-mobile">
                <img class="header-logo__icon" src="statics/picture/logo-icon.svg" alt="">            </a>

            <div class="hype-drop"></div>
        </div>

        <div class="second-block">
            <div class="live-drop-switch">
                <div class="live-drop-switch__all">全部</div>
                <div class="live-drop-switch__best">最佳</div>
            </div>

            <div class="live-drop"></div>
        </div>
    </div>

    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
        </div>
        <div class="language-dropdown">
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>
        <div class="social-header mobile-social">
            
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

        </div>

        <div class="menu-wrapper guest">
            <div class="close-mobile-menu"></div>
            <div class="left-block-wrap">
                <a href="de.html" class="header-logo">
                    <img class="header-logo__icon" src="statics/picture/logo-icon.svg" alt="">                    <img class="header-logo__text" src="statics/picture/logo-text.svg" alt="">                </a>
                <nav class="main-menu">
                    <ul>
                        <li>
                            <a href="faq1.html" title="F.A.Q">
                                <i class="icon icon-faq"></i>
                                <span>
                                    常见问题                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="sitemap.html" title="Partnerschaft">
                                <i class="icon icon-partnership"></i>
                                <span>
                                    合伙                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="sitemap.html" title="Upgrade">
                                <i class="icon icon-upgrade"></i>
                                <span>
                                    升级                                </span>
                            </a>
                        </li>
                                                    <li>
                                <a href="sitemap.html" title="YOUPARTY">
                                    <i class="icon icon-giveaway"></i>
                                    <span>
                                        YOUPARTY                                    </span>
                                </a>
                                <div class="label label__new">Neu</div>
                            </li>
                                                                            <li>
                                <a href="login" class="js-auth-link mobile-only">
                                    <i class="icon icon-steam"></i>
                                    Einloggen                                </a>
                            </li>
                                                <li style="display: none">
                            <!-- Container for labels. For developers use -->
                            <div class="label-new">Neu</div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="right-block-wrap">
                
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>cn</p>
        </div>
        <div class="language-dropdown">
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>                <div class="header-profile-wrapper">
                    
<div class="header-profile">
            <a href="#login-popup" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">
            登录方式            <br><span>Steam</span>
        </a>
    </div>
                </div>
            </div>
        </div>

        <div class="count-social-wrapper">
            <div class="counter-header">
                <div class="counter-header__online">
                    <span id="online_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">在线</span>
                </div>
                <div class="counter-header__users">
                    <span id="registered_users" class="counter-header__counter">...</span>
                    <span class="counter-header__text">用户</span>
                </div>
                <div class="counter-header__opened">
                    <span id="opened_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">武器箱</span>
                </div>
                <div class="counter-header__upgraded">
                    <span id="upgraded_cases" class="counter-header__counter">...</span>
                    <span class="counter-header__text">Upgrades</span>
                </div>
            </div>

            <div class="social-header">
                
<a href="javascript:;" target="_blank" class="social-header__discord" title="discord"></a>
<a href="javascript:;" target="_blank" class="social-header__instagram" title="instagram"></a>
<a href="javascript:;" target="_blank" class="social-header__fb" title="facebook"></a>
<a href="javascript:;" target="_blank" class="social-header__twitter" title="twitter"></a>
<!--<a href="#" target="_blank" class="social-header__telegram"></a>-->

            </div>
        </div>
    </div>

    <div class="ghost-element"></div>

    <div class="header-profile-wrapper mobile-header-profile-wrapper">
        
<div class="header-profile">
            <a href="#login-popup" rel="modal:open" data-url="/login" class="header-profile-sign-in steam-btn">
            Einloggen mit            <br><span>Steam</span>
        </a>
    </div>
        
<div class="sound-lang-wrapper">
    <div class="header-language">
        <div class="current-language">
            <img src="statics/picture/languages-flag-sprite.svg" alt="">            <p>de</p>
        </div>
        <div class="language-dropdown">
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>en</span>
                </a>
                            <a href="" class="current_lng">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>de</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>es</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pl</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>fr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>tr</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>it</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>pt</span>
                </a>
                            <a href="javascript:;">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>sv</span>
                </a>
                            <a href="sitemap.html">
                    <img src="statics/picture/languages-flag-sprite.svg" alt="">                    <span>cn</span>
                </a>
                    </div>
    </div>
</div>
        <div class="menu-btn">
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
        </div>
    </div>
</header>

<div id="login-popup" class="modal login-popup-modal">
    <a href="#" rel="modal:close" class="close-modal"></a>
    <p class="login-header">
        Einloggen    </p>
    <p class="login-header2">
        Bitte akzeptiere die Bedingungen und klicke unten auf die Schaltfläche, um dich über Steam anzumelden.    </p>
    <div class="agree-block">
        <input type="checkbox" id="terms-agree" class="agreement-checkbox">
        <label for="terms-agree">
            Ich strimme den <a href="sitemap.html">Nutzungsbedingungen</a> und <a href="privacy2.html">Datenschutzbestimmungen</a> zu        </label>
    </div>
    <div class="agree-block">
        <input type="checkbox" id="age-agree" class="agreement-checkbox">
        <label for="age-agree">
            Ich bin mindestens 18 Jahre alt        </label>
    </div>
    <div class="main-button-wrapper violet">
        <a href="login" class="main-button violet-btn steam-btn js-auth-link disabled">
            <i class="icon icon-steam"></i>
            <span>Mit Steam einloggen</span>
        </a>
    </div>
</div>

<script type="text/template" id="new_hype_drop_tpl">
    <div class="hype-drop-wrapper" data-id="<%- drop.id %>">
        <div class="hype-drop__text">
            <p class="hype-drop__profit">+ $<%- drop.profit %></p>
            <div class="hype-drop__tagline"><%- drop.phrase %></div>
        </div>
        <div class="hype-drop__hover-block">
            <a href="/de/profile/<%- user.id %>" class="hype-drop__img viewn-<%- weapon.colorSuffix %>">
                <img src="<%- weapon.image %>340x250.png" alt="">
            </a>
            <div class="hype-drop-info">
                <div class="hype-drop-info__user">
                    <div class="user-avatar-wrap hype-drop-avatar">
                        <a href="/de/profile/<%- user.id %>" class="user-avatar ava-size-s">
                            <span class="user-avatar__img-wrap">
                                <span class="user-avatar__img-second-wrap">
                                    <img src="<%- user.avatar %>" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                    <p class="hype-drop-info__user-name ell"><%- user.name %></p>
                </div>
                <div class="hype-drop-info__case">
                    <% if(drop.type === 'case') { %>
                        <img src="<%- source.image %>" alt="">
                        <a href="/de<%- source.url %>" class="button button-special">
                            Dort hingehen                        </a>
                    <% } %>
                    <% if(drop.type === 'upgrade') { %>
                        <i class="icon icon-upgrade"></i>
                        <a href="/de/upgrade" class="button button-special">
                            Dort hingehen                        </a>
                    <% } %>

                    <p class="text-1 ell"><%- weapon.title %></p>
                    <p class="text-2 ell"><%- weapon.name %></p>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="new_drop_tpl">
    <div class="live-item viewn_<%- weapon.colorSuffix %>" data-id="<%- drop.id %>">
        <a href="/de/profile/<%- user.id %>" class="live-item__img">
            <img src="<%- weapon.image %>340x250.png" alt="">
        </a>
        <% if(isProfit === true) { %>
        <div class="live-item__paid-off"></div>
        <% } %>
        <% if(drop.type === 'upgrade') { %>
        <p class="live-item-info__upgrade-chance">
            Upgrade            <span><%- source.chance.toFixed(2) %>%</span>
        </p>
        <% } %>
        <div class="live-item-info">
            <% if(drop.type === 'feast') { %>
            <div class="live-item-info__img">
                <img src="//cdn.skin.club/img/youparty/main-banner-logo.png" alt="" style="width: 105px;padding-top: 30px;">
            </div>
            <% } %>
            <% if(drop.type === 'case') { %>
            <div class="live-item-info__img">
                <img src="<%- source.image %>" alt="">
            </div>
            <% } %>
            <% if(drop.type === 'upgrade') { %>
            <div class="live-item-info__img upgrade">
                <i class="icon icon-upgrade"></i>
            </div>
            <% } %>
            <div class="user-avatar-wrap live-drop-avatar">
                <a href="/de/profile/<%- user.id %>" class="user-avatar ava-size-s">
                    <span class="user-avatar__img-wrap">
                        <span class="user-avatar__img-second-wrap">
                            <img src="<%- user.avatar %>" alt="">
                        </span>
                    </span>
                </a>
            </div>
            <div class="live-item-info__name-1 ell"><%- weapon.name %></div>
            <div class="live-item-info__name-2 ell"><%- weapon.title %></div>
            <p class="live-item-info__price"><%- price %></p>
            <div class="live-item-info__button-wrap">
                <% if(drop.type === 'feast') { %>
                <a href="/de/events/youparty" class="button button-special">
                    Überprüfen                </a>
                <% } %>
                <% if(drop.type === 'case') { %>
                <a href="/de<%- source.url %>" class="button button-special">
                    Überprüfen                </a>
                <% } %>
                <% if(drop.type === 'upgrade') { %>
                <a href="/de/upgrade" class="button button-special">
                    Dort hingehen                </a>
                <% } %>
            </div>
        </div>
    </div>
</script>
        <div id="container">
            <div id="content">
                

<div class="breadcrumbs-wrapper">
    <div class="breadcrumbs">
        <a href="sitemap.html">Skin Club</a>
        <i class="icon icon-arrow-right"></i>
        <b>Premium</b>
    </div>
</div>
<section class="giveaway-case-wrapper">
    <h1 class="page-title">
        附加武器箱    </h1>

    <div class="giveaway-case">
        
<div class="giveaway-case__last-winner">
    <p class="text">上次的获奖者</p>

            <div class="giveaway-case__user">
            <a href="javascript:;" class="img-wrapper">
                <img src="statics/picture/8b09475a5a08d1b0b165edd3e869cec4.jpg" alt="">            </a>

            <div class="name">👑^2-Venger-👑</div>
        </div>

        <div class="giveaway-case__arrow"></div>

        <div class="win-item viewn_5">
            <p class="win-item__price">$26.80</p>
            <img src="statics/picture/160x108.png" alt="">            <p class="win-item__name-1">AK-47</p>
            <p class="win-item__name-2">Frontside Misty</p>
        </div>
    </div>

        <div class="giveaway-case__logo">
            <img src="statics/picture/premium-case1.png" alt="Premium">        </div>

                    <div class="giveaway-case__not-login">
                <p>
                    你需要验证身份<br>才能参加赠品活动                </p>
                <a href="#login-popup" rel="modal:open" data-url="/login" class="main-button violet-btn steam-btn">
                    <span class="for-icon">使用 Steam 登录</span>
                </a>
            </div>
        
        <div class="giveaway-case__description">
            <p>
                本次派送免费，但仅限在过去 <span>7 天</span> 内在网站充值至少 <span>10 $</span> 的用户。<br> 派送结束后，奖品将随机送给一名参与者，然后派送将重新开始。祝你好运！ #SKINCLUB            </p>
        </div>

        <div class="giveaway-case__total_won">
            赢取物品的总价: $36043.10        </div>
    </div>
</section>


<div class="last-registered">
    <div class="block-title">
        <div class="title-wrapper">
            <h2>
                最近注册的参与者 (总共 <span>265</span> 个)            </h2>
        </div>
    </div>

    <div class="last-users-wrapper">
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/d944bd73d553e20295a155069a45b92a.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Denver</p>
                <p class="last-user__date">2020-04-25 13:38</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/de67dd96c1a4958ede3dd2b84a10c06b.jpg" alt="User avatar">                </a>
                <p class="last-user__name">yumoş</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/5a2ec7fa81523626407feed96c20e6a7.jpg" alt="User avatar">                </a>
                <p class="last-user__name">The reformed michael</p>
                <p class="last-user__date">2020-04-25 13:36</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/f462ef6fb78d69e53fd32cf398f1eae9.jpg" alt="User avatar">                </a>
                <p class="last-user__name">jjiherrera</p>
                <p class="last-user__date">2020-04-25 13:35</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/e0636a8b4557d9d99065b10f0ad7d2cb.jpg" alt="User avatar">                </a>
                <p class="last-user__name">JESUCRISTO DEL MONOPOLY</p>
                <p class="last-user__date">2020-04-25 13:34</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/208d1ac783072d5012bd864a06469b02.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Mysikt</p>
                <p class="last-user__date">2020-04-25 13:34</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/28f12771bf1a641868b2e09b121196cd.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Cannibalave</p>
                <p class="last-user__date">2020-04-25 13:33</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/bb82bf844b9d9fdf17ec497d60d2f2c7.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Metagross</p>
                <p class="last-user__date">2020-04-25 13:33</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/b6f85696f39555fe495bacab4b33263a.jpg" alt="User avatar">                </a>
                <p class="last-user__name">McLovin</p>
                <p class="last-user__date">2020-04-25 13:32</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/73dd1dc3e9a4a1465d859fb1903a8428.jpg" alt="User avatar">                </a>
                <p class="last-user__name">i love</p>
                <p class="last-user__date">2020-04-25 13:32</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/a1097b5e51e7794c72dadcfe3c61888c.jpg" alt="User avatar">                </a>
                <p class="last-user__name">HmR</p>
                <p class="last-user__date">2020-04-25 13:30</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/59c3c94c1a7c26987c802c2a529b8dd6.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Yisus ChriSt</p>
                <p class="last-user__date">2020-04-25 13:30</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/a4d621edc365e0b4eb786135b034a61c.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Duko™</p>
                <p class="last-user__date">2020-04-25 13:30</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/c37c22df7ded0f22d5d76d9a079062ce.jpg" alt="User avatar">                </a>
                <p class="last-user__name">SynergiaButTheGayOne</p>
                <p class="last-user__date">2020-04-25 13:30</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/13a44fb8a43db9a08f6e7685067aeb73.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Le gars trop chaud quoi</p>
                <p class="last-user__date">2020-04-25 13:29</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/85ba7278ab34c19a8e010defd637d145.jpg" alt="User avatar">                </a>
                <p class="last-user__name">💜 LOVE SKINS 💜</p>
                <p class="last-user__date">2020-04-25 13:29</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/4b2bb839f83e9c26c81af52a2b8c7bd8.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Humbrazzi</p>
                <p class="last-user__date">2020-04-25 13:27</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/441207990f5e74907ab4ec1ceda0eec3.jpg" alt="User avatar">                </a>
                <p class="last-user__name">TROXLOCS. MONEY</p>
                <p class="last-user__date">2020-04-25 13:26</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/27ae47ca3a82981ccfac4a15d4940da8.jpg" alt="User avatar">                </a>
                <p class="last-user__name">TschernoBill</p>
                <p class="last-user__date">2020-04-25 13:24</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/6dae2652c12a6d5ea21805ebaab9c0cd.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Ni Hao</p>
                <p class="last-user__date">2020-04-25 13:24</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/5ce2f914b9bdcfb464bd3096f983dae1.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Kincaid</p>
                <p class="last-user__date">2020-04-25 13:23</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/4985c7532d78c180eda51536ee383de4.jpg" alt="User avatar">                </a>
                <p class="last-user__name">slideinyourmom</p>
                <p class="last-user__date">2020-04-25 13:23</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/0c0d572d7e43c849f2b3397ce05f6bcc.jpg" alt="User avatar">                </a>
                <p class="last-user__name">Mr Yomal</p>
                <p class="last-user__date">2020-04-25 13:23</p>
            </div>
                    <div class="last-user">
                <a href="javascript:;" class="last-user__avatar">
                    <img src="statics/picture/1bcb9017c4d1ae7b272eeca5ec9ba7f8.jpg" alt="User avatar">                </a>
                <p class="last-user__name">✿𝙈𝘼𝙕𝙇𝙊𝙅𝘼</p>
                <p class="last-user__date">2020-04-25 13:21</p>
            </div>
            </div>

    <script type="text/template" id="new_participant_tpl">
        <div class="last-user">
            <a href="/profile/<%- userId %>" class="last-user__avatar">
                <img src="<%- avatarUrl %>" alt="User avatar">
            </a>
            <p class="last-user__name"><%- name %></p>
            <p class="last-user__date"><%- timeRegister %></p>
        </div>
    </script>
</div>

<div class="block-title">
    <div class="title-wrapper">
        <h2>内容</h2>
    </div>
</div>
<div class="loot-items not-profile">
    <div class="items-grid-wrapper">
        <div class="items-grid">
            
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Autotronic" data-src="static/picture/de39eb0f73.png">
            </div>
            <p class="item__name">★ Karambit</p>
            <p class="item__type">Autotronic</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_7 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Lore" data-src="static/picture/acfa647ce0.png">
            </div>
            <p class="item__name">★ M9 Bayonet</p>
            <p class="item__type">Lore</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Code Red" data-src="static/picture/e551e90962.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Code Red</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Golden Koi" data-src="static/picture/f2c96f4e33.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Golden Koi</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hyper Beast" data-src="static/picture/b53a5b3315.png">
            </div>
            <p class="item__name">Five-SeveN</p>
            <p class="item__type">Hyper Beast</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Wasteland Rebel" data-src="static/picture/7920ebb4fb.png">
            </div>
            <p class="item__name">Glock-18</p>
            <p class="item__type">Wasteland Rebel</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neo-Noir" data-src="static/picture/340x25086.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Neo-Noir</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Kill Confirmed" data-src="static/picture/9eb2a3e349.png">
            </div>
            <p class="item__name">USP-S</p>
            <p class="item__type">Kill Confirmed</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neon Rider" data-src="static/picture/037e2666d3.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Neon Rider</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Bloodsport" data-src="static/picture/340x25085.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Bloodsport</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neon Revolution" data-src="static/picture/f83e19c7fe.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Neon Revolution</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Cyrex" data-src="static/picture/d9aaf6fe5f.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Cyrex</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hyper Beast" data-src="static/picture/4bfaeb889b.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Hyper Beast</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Asiimov" data-src="static/picture/477640981e.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Asiimov</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Neo-Noir" data-src="static/picture/c8d05472da.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Neo-Noir</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_6 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hyper Beast" data-src="static/picture/340x25083.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Hyper Beast</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Water Elemental" data-src="static/picture/9d45ed332f.png">
            </div>
            <p class="item__name">Glock-18</p>
            <p class="item__type">Water Elemental</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Kumicho Dragon" data-src="static/picture/47e595cef6.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Kumicho Dragon</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Cobalt Disruption" data-src="static/picture/340x25091.png">
            </div>
            <p class="item__name">Desert Eagle</p>
            <p class="item__type">Cobalt Disruption</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Frontside Misty" data-src="static/picture/340x25048.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Frontside Misty</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Case Hardened" data-src="static/picture/4825a42d32.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Case Hardened</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hydroponic" data-src="static/picture/340x25029.png">
            </div>
            <p class="item__name">AK-47</p>
            <p class="item__type">Hydroponic</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hot Rod" data-src="static/picture/340x25010.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Hot Rod</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Decimator" data-src="static/picture/eff80dbef8.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Decimator</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Master Piece" data-src="static/picture/ba16496f2d.png">
            </div>
            <p class="item__name">M4A1-S</p>
            <p class="item__type">Master Piece</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Desolate Space" data-src="static/picture/17e77f4cd5.png">
            </div>
            <p class="item__name">M4A4</p>
            <p class="item__type">Desolate Space</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Hellfire" data-src="static/picture/340x2509.png">
            </div>
            <p class="item__name">M4A4</p>
            <p class="item__type">Hellfire</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="BOOM" data-src="static/picture/cc8d411194.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">BOOM</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Fever Dream" data-src="static/picture/340x25065.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Fever Dream</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Graphite" data-src="static/picture/16d9c01132.png">
            </div>
            <p class="item__name">AWP</p>
            <p class="item__type">Graphite</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Trigon" data-src="static/picture/26c15e5406.png">
            </div>
            <p class="item__name">P90</p>
            <p class="item__type">Trigon</p>
        </div>
    </div>
    <div class="loot-item">
        <div class="item case-item viewn_5 ">
                        <div class="img-wrapper">
                <img class="item__img lazy-img" alt="Primal Saber" data-src="static/picture/340x25052.png">
            </div>
            <p class="item__name">UMP-45</p>
            <p class="item__type">Primal Saber</p>
        </div>
    </div>
        </div>
    </div>
</div>
                                <div class="footer-banner-wrapper">
    <div class="footer-banner">
        <div class="footer-banner__left-block"></div>
                    <div class="footer-banner__right-block">
                <div class="footer-banner__text">
                    <p>
                        是时候购买武器箱了                    </p>
                    <p>
                        只需使用您的一个帐户登录 <br> 并开始购买顶级案例                    </p>
                </div>
                <div class="footer-banner__link-wrapper">
                    <p>Sign in using</p>
                    <a href="#login-popup" rel="modal:open" data-url="/login" class="button button-footer steam-btn">
                        <i class="icon icon-steam-rounded"></i>
                        Steam
                    </a>
                </div>
            </div>
            </div>
</div>            </div>
        </div>
    </div>
    <div class="cookies-wrapper">
    <div class="wrapper">
        <div class="textColumn">
            <div class="icon-wrap">
                <img src="statics/picture/icon.png" alt="Cookies notification icon">            </div>
            <div class="text">
                <div class="title">
                    Cookies akzeptieren?                </div>
                <p>
                    Unsere Website verwendet Cookies, um Ihre Erfahrung zu verbessern und die Nutzung unserer Website zu analysieren. Wenn Sie auf "Akzeptieren" klicken oder weiter auf der Website surfen, stimmen Sie der Verwendung von Cookies zu.                     <a href="javascript:;">
                         Mehr Info                     </a>
                </p>
            </div>
        </div>
        <div class="btnColumn">
            <button class="main-button violet-btn accept-cookies">
                Akzeptieren                <i class="icon icon-check-upgrade"></i>
            </button>
        </div>
    </div>
</div>
    
<footer id="footer">
    <div class="footer">
        <div class="footer__left-block">
            <div class="footer__logo">
                <img src="statics/picture/footer-logo-ico.png" alt="Skin.club">
            </div>
            <div class="footer__text-wrapper">
                <p>
                    Skin.club © 2020
                </p>
                <p>
                   你可以用最优惠的价格获得喜欢的皮肤。<br> 所有交易均通过 Steam 机器人自动进行。                </p>
                <p>
                    Limited Partnership, 39/5 Granton Crescent, Edinburgh, United Kingdom
                </p>
            </div>
        </div>
        <div class="footer__right-block">
            <div class="footer__links">
                <div class="footer__payment-methods">
                    <a href="javascript:;" class="g2a" target="_blank" rel="nofollow">
                        <img src="statics/picture/g2apay_logo.png" alt="G2A payment">
                    </a>
                    <a href="javascript:;" class="visa" target="_blank" rel="nofollow">
                        <img src="statics/picture/visa.svg" alt="Visa payment">
                    </a>
                    <a href="javascript:;" class="mastercard" target="_blank" rel="nofollow">
                        <img src="statics/picture/mastercard.svg" alt="Mastercard payment">
                    </a>
                </div>
                <div class="footer__help-link">
                    <a href="mailto:support@skin.club" class="footer-support">
                        <i class="icon icon-mail"></i>
                        support@skin.club
                    </a>
                    <a href="faq1.html" class="footer-faq">
                        <i class="icon icon-question"></i>
                        常见问题                    </a>
                    <a href="sitemap.html" class="footer-faq">
                        <i class="icon icon-sitemap"></i>
                        站点地图                    </a>
                </div>
            </div>
            <div class="footer__nav">
                <a href="sitemap.html">服务条款</a>
                <a href="privacy.html">隐私政策</a>
                <a href="javascript:;">往来</a>
            </div>
        </div>
    </div>
</footer>
        <script src="statics/js/all-ab08522165520a4e1370084b6ac8.js"></script>
<script src="statics/js/special-open-1583497980.js"></script>
    
        </body>

</html>
